@mixin col($col, $sum, $gap: 10px, $align-items: flex-start, $justify-content: flex-start, $first: false, $last: false) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  padding-right: if($last, 0, $gap);
  padding-left: if($first, 0, $gap);
  width: percentage($col / $sum);
  box-sizing: border-box;
}
