include mixins/svg

block vars
	- var htmlClass = ""
	- var htmlAttrs = {}
	- var lang = ""
	- var locale = ""
	- var viewport = ""
	- var url = ""
	- var title = ""
	- var description = ""
	- var twitterTitle = ""
	- var twitterDescription = ""
	- var image = ""
	- var header = true
	- var breadcrumbs = true
	- var promo = false
	- var linkCssAttrs = []
	- var linkJsAttrs = {}

doctype html
html(lang=lang || "ru")&attributes(htmlAttrs)
	head
		block meta
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="viewport" content=viewport || "width=device-width")
			meta(name="description" content=description || "")
			meta(name="og:type" content="website")
			meta(name="og:url" content=url || "")
			meta(name="og:title" content=title || "")
			meta(name="og:description" content=description || "")
			meta(name="og:image" content=image || "")
			meta(name="og:locale" content=locale || "ru_RU")
			meta(name="twitter:card" content="summary_large_image")
			meta(name="twitter:title" content=twitterTitle || title || "")
			meta(name="twitter:description" content=twitterDescription || description || "")
			meta(name='msapplication-TileColor' content='#ffffff')
			meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
		block title
			title= title
		block links
			
			link(rel='apple-touch-icon' sizes='57x57' href='./images/apple-icon-57x57.png')
			link(rel='apple-touch-icon' sizes='60x60' href='./images/apple-icon-60x60.png')
			link(rel='apple-touch-icon' sizes='72x72' href='./images/apple-icon-72x72.png')
			link(rel='apple-touch-icon' sizes='76x76' href='./images/apple-icon-76x76.png')
			link(rel='apple-touch-icon' sizes='114x114' href='./images/apple-icon-114x114.png')
			link(rel='apple-touch-icon' sizes='120x120' href='./images/apple-icon-120x120.png')
			link(rel='apple-touch-icon' sizes='144x144' href='./images/apple-icon-144x144.png')
			link(rel='apple-touch-icon' sizes='152x152' href='./images/apple-icon-152x152.png')
			link(rel='apple-touch-icon' sizes='180x180' href='./images/apple-icon-180x180.png')
			link(rel='icon' type='image/png' sizes='192x192' href='./images/android-icon-192x192.png')
			link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
			link(rel='icon' type='image/png' sizes='96x96' href='./images/favicon-96x96.png')
			link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon-16x16.png')
			link(rel='icon' type='image/png' href='./images/favicon.png')
			link(rel="stylesheet" type="text/css" href="css/font.css")
			link(rel="stylesheet" type="text/css" href="css/vendor.css")
			link(rel="stylesheet" type="text/css" href="css/popup.css")
			each linkCss in linkCssAttrs
				link(rel="stylesheet" type="text/css" href=linkCss)
			link(rel="stylesheet" type="text/css" href="css/template_styles.css")

	body
		.wrapper(class=htmlClass)#wrapper
			include header
			main.content-container
				block content
			include footer
		block scripts
			script(src="js/libs/vendor.js")
			each linkJs in linkJsAttrs
				script(src=linkJs)
			script(src="js/pop_up.js")
			script(src="js/script.js")