.mainFooter
  .container
    .mainFooter__top
      nav.mainFooter__menu
        ul.mainFooter__menuList
          each val in ['Каталог', 'Оплата и доставка', 'О компании', 'Новости', 'Акции', 'Контакты']
            li.mainFooter__menuItem
              a.mainFooter__menuLink(href="#")= val
      .mainFooter__row
        a.mainFooter__logo(href="#")
          +svg('logo_footer')
        .mainFooter__contacts
          a(href="mailto:nagradi@mail.ru").mainFooter__contactsPhone
            span
              | nagradi@mail.ru
          a(href="tel:89000000000").mainFooter__contactsEmail
            span
              | 8 900 000 00 00
        .mainFooter__social
          .mainFooter__socialTitle
            span
              | Поделиться в соц. сетях:
          ul
            li
              a(href="#").mainFooter__socialIcon.mainFooter__socialIcon--vk
                +svg('vk_ic')
            li
              a(href="#").mainFooter__socialIcon.mainFooter__socialIcon--fb
                +svg('fb_ic')
            li
              a(href="#").mainFooter__socialIcon.mainFooter__socialIcon--tw
                +svg('tw_ic')
            li
              a(href="#").mainFooter__socialIcon.mainFooter__socialIcon--ok
                +svg('ok_ic')
  .mainFooter__bottom
    .container
      .mainFooter__bottomCopyright
        p
          | &copy; 2017 — 2018 ООО «Мастерские пинчука»
        a(href="#")
          | Сайт разработан «КРИТ»
include popup
