header.mainHeader
  .container
    .mainHeader__top
      .searchOverlay.js-search-overlay
      a.mainHeader__logo(href="#")
        +svg('logo')
      .mainHeader__menuBtn.js-menu-btn
        .div
          span
          span
        .div
          span
          span
        .div
          span
          span
      a.mainHeader__menuBtn.mainHeader__menuBtn--link.js-scrollLink(href="/#menu")
        .div
          span
          span
        .div
          span
          span
        .div
          span
          span
      .mainHeader__contacts
        a(href="mailto:nagradi@mail.ru").mainHeader__contactsEmail
          span
            | nagradi@mail.ru
        a(href="tel:89000000000").mainHeader__contactsPhone
          | 8 900 000 00 00
      .mainHeader__buttons
        a(href="javascript:void(0);" data-form-class="requestCall").js-show-popup.mainHeader__contactsPopupBtn
          +svg('phone_ic')
        form.mainHeader__searchBox(action="/" method="POST")
          input(type="text" placeholder="Поиск").mainHeader__contactsSearch.js-search-input
          button.mainHeader__contactsSearchBtn.js-search-show(type="button")
            +svg('search_ic')
    if promo == true
      section.promo
        .container
          .promo__medal.js-3d-medal
            //- .promo__medal3d
          .promo__title
            h1
              | Вся наградная продукция
          .promo__description
            h5
              | Фронтальная сторона
            p
              | Nulla facilisi. Cras id dictum urna. Nam in scelerisque ligula, ut feugiat metus.
            a.button.moreBtn(href="#")
              span Заказать такую же
    nav.mainHeader__menu.js-menu#menu
      +svg('menu').mainHeader__menuBg
      ul.mainHeader__menuList
        li.mainHeader__menuItem
          a(href="#").mainHeader__menuLink
            | Каталог
        li.mainHeader__menuItem
          a(href="#").mainHeader__menuLink
            | Оплата и доставка
        li.mainHeader__menuItem
          a(href="#").mainHeader__menuLink
            | О компании
        li.mainHeader__menuItem
          a(href="#").mainHeader__menuLink
            | Новости
        li.mainHeader__menuItem
          a(href="#").mainHeader__menuLink
            | Акции
        li.mainHeader__menuItem
          a(href="#").mainHeader__menuLink
            | Контакты
    if breadcrumbs == true
      include breadcrumbs
