.popUpForm.hidden-block.js-requestCall
  .popUpForm__block
    a.popUpForm__close.js-close-form(href='#')
      +svg('close_ic')
    .container-fluid
      .row
        .popUpForm__container
          form
            input.formName(type='hidden', name='_')
            h5.popUpForm__title 
              | Связаться с нами
            .popUpForm__field.formField.js-formField
              span.formField__title
                | ФИО
                ins.popUpForm__required *
              input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
            .popUpForm__field.formField.js-formField
              span.formField__title
                | Телефон
                ins.popUpForm__required *
              input.js-phoneInput(type='text', name='text-name', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
            .popUpForm__field.popUpForm__field--textarea.formField
              span.formField__title
                  | Сообщение
              textarea(rows='3')
            footer.popUpForm__footer
              .popUpForm__field.formField
                label.checkbox
                  input(type='checkbox' name='checkbox' data-validation='required')
                  span.checkbox__button
                    +svg('checkbox_ic')
                  ins.checkbox__text
                    | Я даю согласие на хранение и обработку своих персональных данных. 
                    br
                    a(href='#') Соглашение
                button.button.sendBtn Отправить
