.popUpForm.popUpFormBuy.hidden-block.js-buyKit
  .popUpForm__block
    a.popUpForm__close.js-close-form(href='#')
      +svg('close_ic')
    .container-fluid
      .row
        .popUpForm__container
          form
            input.formName(type='hidden', name='_')
            h5.popUpForm__title.js-buy-title
              | Купить комплект медалей «Первое место за бег»
            span.popUpForm__subtitle.js-buy-subtitle
              | Артикул:54656574
            .popUpForm__left
              .formField
                label.checkbox
                  input(type='checkbox', name='checkbox')
                  span.checkbox__button
                    +svg('checkbox_ic')
                  ins.checkbox__text
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                .quantity
                  input(type="number" min="1" value="1")
                a.formField__customAdd.js-popup-add-custom(href="#")
                  span
                    | +
                .formField__customContent
                  .oneItem__customName
                    h6
                      | Лента атлассная "Синее начало"
                  .oneItem__customPrice
                    span
                      | 1 000
                      +svg('rub').rub
                    .quantity
                      input(type="number" min="1" value="1")
              .oneItem__totalPopup
                span
                  | Итого к оплате:
                span
                  | 4 400
                  +svg('rub').rub
            .popUpForm__right
              .popUpForm__field.formField.js-formField
                span.formField__title
                  | ФИО
                  ins.popUpForm__required *
                input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
              .popUpForm__field.formField.js-formField
                span.formField__title
                  | Телефон
                  ins.popUpForm__required *
                input.js-phoneInput(type='text', name='text-name', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
              .popUpForm__field.formField.js-formField
                span.formField__title
                  | E-mail
                  ins.popUpForm__required *
                input.js-phoneInput(type='text', name='text-email', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
              .popUpForm__field.popUpForm__field--textarea.formField
                span.formField__title
                  | Комментарий
                textarea(rows='3')
              footer.popUpForm__footer
                .popUpForm__field.formField
                  label.checkbox
                    input(type='checkbox', name='checkbox')
                    span.checkbox__button
                      +svg('checkbox_ic')
                    ins.checkbox__text
                      | Я даю согласие на хранение и обработку своих персональных данных. 
                      br
                      a(href='#') Соглашение
                  button.button.sendBtn Отправить
