.popUpForm.listItemsPopup.hidden-block.js-listItemsPopup.not-center
  .popUpForm__block
    a.popUpForm__close.js-close-form(href='#')
      +svg('close_ic')
    .container-fluid
      .row
        .popUpForm__container
          form(action="" method="POST")
            input.formName(type='hidden' name='_')
            h5.popUpForm__title
              | Фильтр
            .popUpForm__listItems
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Цена,
                    +svg('rub').rub
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.popUpForm__itemContent--price.js-accordeon-content
                  .flexWrapper
                    .formField
                      span.formField__title
                        | От
                      input(type="text" value="0" maxlength="6" name="rangeFrom").js-from
                    .formField
                      span.formField__title
                        | До
                      input(type="text" value="5000" maxlength="6" name="rangeTo").js-to
                    .formField.formFieldRange
                      input(type="text").js-range-slider
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Стоимость комплекта,
                    +svg('rub').rub
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Тип таблички
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Основной цвет
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  .formField
                    label.checkbox
                      input(type='checkbox' name='checkbox')
                      span.checkbox__button
                        +svg('checkbox_ic')
                      ins.checkbox__text
                        | Золото
                  .formField
                    label.checkbox
                      input(type='checkbox' name='checkbox')
                      span.checkbox__button
                        +svg('checkbox_ic')
                      ins.checkbox__text
                        | Бронза
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Декор
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Цоколь
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Фигура
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Тип крышки
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Эмблема
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Форма 
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Материал цоколя
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Высота, см
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Диаметр чаши, мм
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content
                  
              .popUpForm__item
                .popUpForm__itemHeader.js-accordeon
                  span.popUpForm__itemName
                    | Наличие ручек
                  +svg('arrow_right_ic')
                .popUpForm__itemContent.js-accordeon-content

            .popUpForm__footer
              button(type="reset").resetBtn
                | Сбросить
              button(type="submit").button.sendBtn
                | Применить