
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020
}
.fancybox-skin {
	position: relative;
	text-shadow: none
}
.fancybox-opened {
	z-index: 8030
}
.fancybox-outer,
.fancybox-inner {
	position: relative
}
.fancybox-inner {
	overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch
}
.fancybox-error {
	color: #444;
	margin: 0;
	padding: 15px;
	white-space: nowrap
}
.fancybox-image,
.fancybox-iframe {
	display: block;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 8060
}
#fancybox-loading div {
	width: 44px;
	height: 44px
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 8040
}
.fancybox-prev {
	left: 0
}

.fancybox-next {
	right: 0
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px
}
.fancybox-nav:hover span {
	visibility: visible
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible!important
}
.fancybox-lock {
	overflow: hidden!important;
	width: auto
}
.fancybox-lock body {
	overflow: hidden!important
}
.fancybox-lock-test {
	overflow-y: hidden!important
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll
}
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050
}
.fancybox-opened .fancybox-title {
	visibility: visible
}

.fancybox-title-float-wrap {
	z-index: 8050
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	background: rgba(0, 0, 0, .8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: 700;
	line-height: 24px;
	white-space: nowrap
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff
}
.fancybox-title-inside-wrap {
	padding-top: 10px
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: -53px;
	left: 0;
	right: 0;
	width: 154px;
	height: 40px;
	border-radius: 20px;
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	color: #3b3b3b;
	font-family: "Sans Pro Black";
	font-size: 16px;
	span {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		font-family: 'Sans Pro Regular';
	}
}
.fancybox-skin {
	box-shadow: none;
	border-radius: 0;
	background: none;
}
.fancybox-nav {
	font-size: 0;
}
.fancybox-next span,
.fancybox-prev span {
	left: 0;
	position: relative
}

.fancybox-next span {
	right: 0
}

.fancybox-prev span:after {
	content: "\32";
	font-family: 'icomoon'!important;
	color: #fff;
	font-size: 20px;
	position: absolute;
	left: -2px;
	top: 27%;
	display: block;
	text-align: center;
	right: 0
}

.fancybox-next span:after {
	content: "\33";
	font-family: 'icomoon'!important;
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: -5px;
	top: 27%;
	display: block;
	text-align: center;
	left: -2px
}

.fancybox-nav span {
	display: none;
}

.fancybox-close {
	width: 40px;
	height: 40px;
	background-color: #f3f3f3;
	display: inline-block;
	vertical-align: top;
	right: 15px;
	top: 15px;
	font-size: 14px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	padding-top: 9px;
	transition: 0.24s all;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		background-color: #d10910;
		&:after {
			color: #ffffff;
		}
	}
	&:after{ 
		content: "\71";
		transition: 0.24s all;
		color: #706f6f;
		font-family: "Komus-font-1";
	}
}
.fancybox-skin {
	background-color: #fff;
	box-shadow: 3px 4px 15px rgba(210, 210, 210, 0.5);
	border-radius: 25px;
	background-color: #ffffff;
}
.arrowLink.fancybox-nav {
	position: absolute;
	left: 0;
	bottom: -47px;
	top: auto;
	right: 0;
	margin: 0 auto;
	background-color: #d10910;
	&:hover {
		background-color: #ff2129;
	}
	&.fancybox-prev {
		left: -205px;
	}
	&.fancybox-next {
		right: -205px;
	}
}

