/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 19px;
	width: 6px;
	height: 100%;
	right: 0;
	width: 24px;
}

.jspHorizontalBar
{
	display: none;
}

.jspCap
{
	display: none;
}
.jspVerticalBar .jspCap {
	width: 6px;
	height: 10px;
	display: block;
}
.jspHorizontalBar .jspCap
{
	float: left;
}
.jspTrack {
	position: relative;
	background-color: #fff;
	left: 0;
	width: 3px;
}
.jspDrag{
	position: relative;
	bottom: 0;
	cursor: pointer;
	height: 6px;
	width: 5px;
	border-radius: 10px;
	border: 0;
	left: -1px;
	border-left: 5px solid #d10910;
	transition: all 0.3s;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}