extends pug/base

append vars
  - htmlClass = ''
  - url = ''
  - title = 'Мастерские пинчука - Текстовая'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - linkCssAttrs = ["css/article_preview.css"]

block content
  .container
    h1
      | Заголовок h1 (320 — 1280)
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. 
      span.strong 
        | Suspendisse semper 
      | fermentum tortor, quis dapibus nulla congue ac.
    p
      | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, 
      a(href="#") 
        | finibus vitae leo quis 
      | , lobortis cursus lorem. Maecenas suscipit est diam, in 
      a(href="#")
        | molestie lacus luctus vel
      | . 
    h2
      | Заголовок H2 (320 — 1280)
    figure.floatRight
      a(href="./images/img_1.jpg").js-fancybox
        img(src="./images/img_1.jpg" alt="")
        span.zoomIc
          +svg('zoom_ic')
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
    p
      | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. 
    h3
      | Заголовок H3 (320 — 1280)

    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
    .quote
      +svg('cup_ic')
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
    p
      | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. 
    h4
      | Заголовок H4 (320 — 1280)
    .lists
      .col
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. 
        ul
          li
            | ошибка при наборе адреса страницы (URL) или люой другой длинный заголовок пункта:
            ul
              li
                | подпункт первого пункта
              li
                | подпункт первого пункта
                ul
                  li
                    | подпункт второго подпункта первого пункта
                  li
                    | подпункт второго подпункта первого пункта
              li
                | подпункт первого пункта
          li
            | переход по неработающей или  неправильной  ссылке;
          li
            | отсутствие запрашиваемой страницы на сайте.
        p
          | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. 
      .col
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. 
        ol
          li
            | Ошибка при наборе адреса страницы (URL) или люой другой длинный заголовок пункта:
            ol
              li
                | Подпункт первого пункта
              li
                | Подпункт первого пункта
                ol
                  li
                    | Подпункт второго подпункта первого пункта
                  li
                    | Подпункт второго подпункта первого пункта
              li
                | Подпункт первого пункта
          li
            | Переход по неработающей или  неправильной  ссылке;
          li
            | Отсутствие запрашиваемой страницы на сайте.
        p
          | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. 
    h5
      | Заголовок H5 (320 — 1280)
    .table
      table
        thead
          tr
            th
              | Название 1 столбца
            th
              | Название 2 столбца
            th
              | Название 3 столбца
        tr
          td
            | Текст 1 строки
          td
            | Текст 1 строки
          td
            | Текст 1 строки
        tr
          td
            | Текст 2 строки
          td
            | Текст 2 строки
          td
            | Текст 2 строки
        tr
          td
            | Текст 3 строки
          td
            | Текст 3 строки
          td
            | Текст 3 строки
        tr
          td
            | Текст 4 строки
          td
            | Текст 4 строки
          td
            | Текст 4 строки
      .tableDescription
        p
          span.strong
            | Описание таблицы: 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis.
    article.articlePreview
      .articlePreview__text(style="width: 285px; padding-bottom: 20px;")
        style(type='text/css').
          .articlePreview::after {
            display: none;
          }
        h6
          | Заголовок H6 (320 — 1280)
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. Sed vitae cursus neque.
        .articlePreview__footer
          span.articlePreview__date
            | 30.01.2018
          a(href="#").articlePreview__readMore
            | Читать подробнее
            +svg('arrow_right_ic')
    h1(style="text-transform: uppercase;")
      | UI – элементы
    form.has-validation-callback(action="/" style="display: flex; width: 100%; margin-bottom: 20px;")
      div(style="max-width: 340px; width: 100%;")
        .formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;")
        .formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;")
        .formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;")
        .disabled.formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;" disabled)
      div(style="max-width: 367px; width: 100%; padding-left: 48px;")
        .formField.js-formField(style="width: 318px;")
          span.formField__title
            | Металл
          select.js-select.styled-select(style="width: 244px;")
            option(selected)
              | Золото
            option
              | Серебро
            option
              | Бронза
            option
              | Латунь
            option
              | Медь
            option
              | some 6
            option
              | some 7
            option
              | some 8
            option
              | some 9
            option
              | some 10
        .formField.js-formField(style="width: 318px;")
          span.formField__title
            | Металл
          select.js-select.styled-select(multiple="multiple" style="width: 244px;")
            option(selected)
              | Золото
            option
              | Серебро
            option
              | Бронза
            option
              | Латунь
            option
              | Медь
            option
              | some 6
            option
              | some 7
            option
              | some 8
            option
              | some 9
            option
              | some 10
        .formField.js-formField(style="width: 318px;")
          span.formField__title
            | Металл
          select.js-select.styled-select(multiple="multiple" style="width: 244px;")
            option(selected)
              | Золото
            option
              | Серебро
            option
              | Бронза
            option
              | Латунь
            option
              | Медь
            option
              | some 6
            option
              | some 7
            option
              | some 8
            option
              | some 9
            option
              | some 10
      div(style="max-width: 165px; width: 100%; padding-left: 60px;")
        .formField
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField.disabled
          label.checkbox
            input(type='checkbox' name='checkbox' disabled)
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField
          label.radio
            input(type='radio' name='radio')
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton
        .formField
          label.radio
            input(type='radio' name='radio')
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton
        .formField
          label.radio
            input(type='radio' name='radio')
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton
        .formField.disabled
          label.radio
            input(type='radio' name='radio' disabled)
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton

    div(style="width: 100%; display: flex; justify-content: space-between; margin-bottom: 70px;")
      div(style="width: 165px; margin-right: 40px;")
        a.button.sendBtn(style="margin-bottom: 20px;" href="#")
          | Отправить
        button.button.sendBtn
          | Отправить
      div(style="width: 370px;")
        a.button.navBtn(style="margin-bottom: 20px;" href="#")
          span Кубки
          .navBtn__icons
            +svg('cup_small_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn(href="#")
          span Кубки
          .navBtn__icons
            +svg('cup_small_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
      div(style="width: 206px;")
        a.button.moreBtn(style="margin-bottom: 20px;" href="#")
          | Подробнее
        button.button.moreBtn
          | Подробнее
      div(style="width: 165px; padding-left: 20px; display: flex;justify-content: space-between; position: relative;")
        button.slick-arrow.slick-prev(style="left: 20px;")
        button.slick-arrow.slick-next(style="right: 0;")
