extends pug/base

append vars
  - htmlClass = 'index'
  - url = ''
  - title = 'Мастерские пинчука - Главная'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = false
  - promo = true
  - linkCssAttrs = ["css/index.css", "css/once_slider.css", "css/several_slider.css", "css/product_item.css", "css/article_preview.css"]
  - linkJsAttrs = ["js/once_slider.js", "js/several_slider.js", "js/3d_model.js"]

block content
  .demo
    .demo__bg
    .container
      nav.demo__navigation
        a.button.navBtn.demo__navigationLink(href="#")
          span Кубки
          .navBtn__icons
            +svg('cup_small_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn.demo__navigationLink(href="#")
          span Медали
          .navBtn__icons
            +svg('medal_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn.demo__navigationLink(href="#")
          span Панно
          .navBtn__icons
            +svg('panel_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn.demo__navigationLink(href="#")
          span Статуэтки
          .navBtn__icons
            +svg('rewars_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a(href="#").button.sendBtn
          | Все категории
      .demo__slider
        .onceSlider.js-once-slider
          .onceSlider__item
            .onceSlider__image
              img.js-img(src="./images/slider_photo.jpg" alt="")
            .onceSlider__text
              p
                | Кубки 
                br
                | для детских соревнований
            a(href="#").button.moreBtn
              span Подробнее
          .onceSlider__item
            .onceSlider__image
              img.js-img(src="./images/slider_photo.jpg" alt="")
            .onceSlider__text
              p
                | Кубки для детских соревнований 2
            a(href="#").button.moreBtn
              span Подробнее
      .demo__popular
        .demo__popularTitle
          span
            | Популярное
        .severalSlider.js-several-slider
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
        a(href="#").button.sendBtn
          | Все товары
  section.stockNews
    .stockNews__bg
    .container
      .stockNews__stock
        .stockNews__title
          span
            | Акции
        .articlePreviews
          article.articlePreview.articlePreview--stock
            a.articlePreview__img(href="#")
              img.js-img(src="./images/stock_1.jpg" alt="")
            .articlePreview__text
              a(href="#")
                h5.articlePreview__title
                  | Все кубки
                  br
                  | со скидкой 25%
              .articlePreview__footer
                .articlePreview__date
                  span
                    | Сроки акции:
                  span
                    | 01.02.2018 — 30.04.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          article.articlePreview.articlePreview--stock.hidden-block
            a.articlePreview__img(href="#")
              img.js-img(src="./images/stock_2.jpg" alt="")
            .articlePreview__text
              a(href="#")
                h5.articlePreview__title
                  | Все кубки
                  br
                  | со скидкой 25%
              .articlePreview__footer
                .articlePreview__date
                  span
                    | Сроки акции:
                  span
                    | 01.02.2018 — 30.04.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          a.articlePreviews__allBtn.articlePreviews__allBtn--stock(href="#")
            span Все акции
      .stockNews__news
        .stockNews__title
          span
            | Новости
        .articlePreviews
          article.articlePreview.articlePreview--new
            .articlePreview__img
              img.js-img(src="./images/new_2.jpg" alt="")
            .articlePreview__text
              h5.articlePreview__title
                | В ассортименте появились бронзовые медали
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. 
                br
                | Sed vitae cursus neque.
              .articlePreview__footer
                span.articlePreview__date
                  | 30.01.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          article.articlePreview.articlePreview--new.hidden-block
            .articlePreview__img
              img.js-img(src="./images/new1.jpg" alt="")
            .articlePreview__text
              h5.articlePreview__title
                | В ассортименте появились бронзовые медали
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. 
                br
                | Sed vitae cursus neque.
              .articlePreview__footer
                span.articlePreview__date
                  | 30.01.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          a.articlePreviews__allBtn.articlePreviews__allBtn--news(href="#")
            span Все новости
  section.aboutCompany
    .container
      .aboutCompany__box
        .aboutCompany__title
          h2
            | о компании
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
        p
          | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. 
        a.button.moreBtn(href="#")
          span Заказать консультацию
    a.scrollLink.js-scrollLink(href="/#wrapper")
      +svg('arrow_right_ic')