extends pug/base

append vars
  - htmlClass = ''
  - url = ''
  - title = 'Мастерские пинчука - Контакты'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = true
  - promo = false
  - linkCssAttrs = ["css/contacts.css"]
  - linkJsAttrs = ["https://api-maps.yandex.ru/2.1/?lang=ru_RU", "js/contacts_map.js"]

block content
  .contacts
    .container
      .contacts__container
        .contacts__text
          .contacts__title
            h1
              | Контакты
          .contacts__field
            span.contacts__fieldTitle
              | Телефон:
            a.contacts__fieldPhone(href="tel:89000000000")
              | 8 900 000 00 00
          .contacts__field
            span.contacts__fieldTitle
              | E-mail:
            a.contacts__fieldEmail(href="mailto:nagradi@mail.ru")
              span
                | nagradi@mail.ru
          .contacts__field
            span.contacts__fieldTitle
              | Адрес:
            span.contacts__fieldAdress
              | г. Название, ул. Название, дом 111
          footer.contacts__footer
            p
              | Вы можете заказать консультацию, либо сразу сделать заказ в нашем 
              a(href="#") каталоге
        #contactsMap.contacts__map
      form.contacts__form(action="/")
        input.formName(type='hidden', name='_')
        h5.contacts__formTitle 
          | Связаться с нами
        .formField.js-formField
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
        .formField.js-formField
          span.formField__title
            | Телефон
          input.js-phoneInput(type='text', name='text-name', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ')
        .formField.formField--textarea
          span.formField__title
              | Сообщение
          textarea(rows='3')
        footer.contacts__formFooter
          .formField
            label.checkbox
              input(type='checkbox' name='checkbox' data-validation='required')
              span.checkbox__button
                +svg('checkbox_ic')
              ins.checkbox__text
                | Я даю согласие на хранение и обработку своих персональных данных. 
                a(href='#') Соглашение
            button.button.sendBtn Отправить
