extends pug/base

append vars
  - htmlClass = 'fourHundredFourWrapper'
  - url = ''
  - title = 'Мастерские пинчука - 404'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = false
  - promo = false
  - linkCssAttrs = ["css/404.css"]
  - linkJsAttrs = []

block content
  .fourHundredFour
    .container
      .fourHundredFour__logo
        +svg('404')
      .fourHundredFour__box
        .fourHundredFour__title
          span
            | Ошибка
          span
            | Страница не найдена
        .fourHundredFour__text
          span.fourHundredFour__subtitle
            | Возможные причины ошибки:
          ul.fourHundredFour__list
            li.fourHundredFour__listItem
              | ошибка при наборе адреса страницы (URL);
            li.fourHundredFour__listItem
              | переход по неработающей или  неправильной ссылке;
            li.fourHundredFour__listItem
              | отсутствие запрашиваемой страницы на сайте.
        .fourHundredFour__buttons
          a.fourHundredFour__link.button.sendBtn(href="#")
            | На главную
          a.fourHundredFour__link.fourHundredFour__link--red.button.sendBtn(href="#")
            | В каталог
