extends pug/base

append vars
  - htmlClass = ''
  - url = ''
  - title = 'Мастерские пинчука - Каталог'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = true
  - promo = false
  - linkCssAttrs = ["css/catalog.css"]
  - linkJsAttrs = []

block content
  .catalog
    .container
      .catalog__title
        h1
          | Каталог
      .catalog__grid
        .catalog__col
          a.catalog__item.catalog__item--red.catalog__item--medal(href="#")
            h3.catalog__itemTitle
              | Медали
            .catalog__itemMore
              +svg('medal_ic').ic-medal
              span
                | Посмотреть
          a.catalog__item.catalog__item--gray.catalog__item--premium(href="#")
            h3.catalog__itemTitle
              | Наградная продукция
            .catalog__itemMore
              +svg('rewars_ic').ic-rewars
              span
                | Посмотреть
        .catalog__col
          a.catalog__item.catalog__item--gray.catalog__item--cups(href="#")
            h3.catalog__itemTitle
              | Кубки
            .catalog__itemMore
              +svg('cup_small_ic').ic-cupSmall
              span
                | Посмотреть
          a.catalog__item.catalog__item--red.catalog__item--souvenir(href="#")
            h3.catalog__itemTitle
              | Сувенирная продукция
            .catalog__itemMore
              +svg('panel_ic').ic-panel
              span
                | Посмотреть
        .catalog__buttons
          a.button.sendBtn(href="#")
            | Скачать каталог
          a.button.moreBtn(href="#")
            span Заказать консультацию
      .catalog__text
        .catalog__textTitle
          h4
            | SEO-текст
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. 