extends pug/base

append vars
  - htmlClass = ''
  - url = ''
  - title = 'Мастерские пинчука - Список товаров'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = true
  - promo = false
  - linkCssAttrs = ["css/list_items.css", "css/product_item.css"]
  - linkJsAttrs = ["js/category_select.js", "js/rangeSlider.js"]

block content
  .listItems
    .container
      .listItems__container
        .listItems__headerMobile
          .categorySelect
            .categorySelect__selected.js-open-select
              .categorySelect__selectedCategory.js-selected-category
                +svg('medal_ic').iconCategory
                span
                  | Медали
              .categorySelect__selectedArrow
                +svg('arrow_right_ic').iconArrow
            .categorySelect__list.js-select-list
              .categorySelect__item.js-select-category
                +svg('medal_ic').iconCategory
                span
                  | Медали
              .categorySelect__item.js-select-category
                +svg('cup_small_ic').iconCategory
                span
                  | Кубки
              .categorySelect__item.js-select-category
                +svg('panel_ic').iconCategory
                span
                  | Сувенирная продукция
              .categorySelect__item.js-select-category
                +svg('rewars_ic').iconCategory
                span
                  | Наградная продукция
          .listItems__headerMobileButtons
            a.allCategoryBtn(href="#")
              | Все категории
            a.categoryFilterBtn.js-show-popup(href="javascript:void(0);" data-form-class="listItemsPopup")
              .categoryFilterBtn__icon
                +svg('filter_ic')
              span
                | Фильтр
        aside.listItems__sidebar.listItemsPopup
          ul.categorySelect__list.js-select-list
            li.categorySelect__listItem
              a.categorySelect__item.js-select-category(href="#")
                +svg('medal_ic').iconCategory
                span
                  | Медали
                .categorySelect__selectedArrow
                  +svg('arrow_right_ic').iconArrow
              ul.js-category-dropdown
                li
                  a(href="#")
                    | Универсальные
                li
                  a(href="#")
                    | С Российской и региональной символикой
                li
                  a(href="#")
                    | Комплекты
            li.categorySelect__listItem
              a.categorySelect__item.js-select-category(href="#")
                +svg('cup_small_ic').iconCategory
                span
                  | Кубки
                .categorySelect__selectedArrow
                  +svg('arrow_right_ic').iconArrow
              ul.js-category-dropdown
                li
                  a(href="#")
                    | Универсальные
                li
                  a(href="#")
                    | С Российской и региональной символикой
                li
                  a(href="#")
                    | Комплекты
            li.categorySelect__listItem
              a.categorySelect__item.js-select-category(href="#")
                +svg('panel_ic').iconCategory
                span
                  | Сувенирная продукция
                .categorySelect__selectedArrow
                  +svg('arrow_right_ic').iconArrow
              ul.js-category-dropdown
                li
                  a(href="#")
                    | Универсальные
                li
                  a(href="#")
                    | С Российской и региональной символикой
                li
                  a(href="#")
                    | Комплекты
            li.categorySelect__listItem
              a.categorySelect__item.js-select-category(href="#")
                +svg('rewars_ic').iconCategory
                span
                  | Наградная продукция
                .categorySelect__selectedArrow
                  +svg('arrow_right_ic').iconArrow
              ul.js-category-dropdown
                li
                  a(href="#")
                    | Универсальные
                li
                  a(href="#")
                    | С Российской и региональной символикой
                li
                  a(href="#")
                    | Комплекты
          a.allCategoryBtn(href="#")
            | Все категории каталога
          .listItems__sidebarFilter.js-listItems-sidebarFilter
            
        section.listItems__list
          header.listItems__header
            .listItems__title
              h1
                | Медали
            .listItems__sort
              span
                | Сортировать по:
              select.js-select.styled-select
                option(selected)
                  | Популярности
                option
                  | Цене
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                span Купить
      ul.pagination
        li.pagination__item
          a.pagination__link.pagination__link--preview(href="#")
            +svg('arrow_right_ic')
        li.pagination__item
          a.pagination__link(href="#")
            | 1
        li.pagination__item
          a.pagination__link.pagination__link--dots
            | ...
        li.pagination__item
          a.pagination__link.pagination__link--center(href="#")
            | 5
        li.pagination__item
          a.pagination__link.pagination__link--dots
            | ...
        li.pagination__item
          a.pagination__link(href="#")
            | 27
        li.pagination__item
          a.pagination__link.pagination__link--next(href="#")
            +svg('arrow_right_ic')
      include pug/popup_buy
    include pug/popup_filter
