extends pug/base

append vars
  - htmlClass = ''
  - url = ''
  - title = 'Мастерские пинчука - Страница товара'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = true
  - promo = false
  - linkCssAttrs = ["css/list_items.css", "css/product_item.css", "css/article_preview.css", "css/several_slider.css", "css/one_item.css"]
  - linkJsAttrs = ["js/category_select.js", "js/several_slider.js", "js/rangeSlider.js", "js/one_item_slider.js"]

block content
  .oneItem.listItems
    .container
      .oneItem__container
        .oneItem__sidebar
          .listItems__headerMobile
            .categorySelect
              .categorySelect__selected.js-open-select
                .categorySelect__selectedCategory.js-selected-category
                  +svg('medal_ic').iconCategory
                  span
                    | Медали
                .categorySelect__selectedArrow
                  +svg('arrow_right_ic').iconArrow
              .categorySelect__list.js-select-list
                .categorySelect__item.js-select-category
                  +svg('medal_ic').iconCategory
                  span
                    | Медали
                .categorySelect__item.js-select-category
                  +svg('cup_small_ic').iconCategory
                  span
                    | Кубки
                .categorySelect__item.js-select-category
                  +svg('panel_ic').iconCategory
                  span
                    | Сувенирная продукция
                .categorySelect__item.js-select-category
                  +svg('rewars_ic').iconCategory
                  span
                    | Наградная продукция
            .listItems__headerMobileButtons
              a.button.sendBtn(href="#")
                | Все категории
          aside.listItems__sidebar.listItemsPopup
            ul.categorySelect__list.js-select-list
              li.categorySelect__listItem
                a.categorySelect__item.js-select-category(href="#")
                  +svg('medal_ic').iconCategory
                  span
                    | Медали
                  .categorySelect__selectedArrow
                    +svg('arrow_right_ic').iconArrow
                ul.js-category-dropdown
                  li
                    a(href="#")
                      | Универсальные
                  li
                    a(href="#")
                      | С Российской и региональной символикой
                  li
                    a(href="#")
                      | Комплекты
              li.categorySelect__listItem
                a.categorySelect__item.js-select-category(href="#")
                  +svg('cup_small_ic').iconCategory
                  span
                    | Кубки
                  .categorySelect__selectedArrow
                    +svg('arrow_right_ic').iconArrow
                ul.js-category-dropdown
                  li
                    a(href="#")
                      | Универсальные
                  li
                    a(href="#")
                      | С Российской и региональной символикой
                  li
                    a(href="#")
                      | Комплекты
              li.categorySelect__listItem
                a.categorySelect__item.js-select-category(href="#")
                  +svg('panel_ic').iconCategory
                  span
                    | Сувенирная продукция
                  .categorySelect__selectedArrow
                    +svg('arrow_right_ic').iconArrow
                ul.js-category-dropdown
                  li
                    a(href="#")
                      | Универсальные
                  li
                    a(href="#")
                      | С Российской и региональной символикой
                  li
                    a(href="#")
                      | Комплекты
              li.categorySelect__listItem
                a.categorySelect__item.js-select-category(href="#")
                  +svg('rewars_ic').iconCategory
                  span
                    | Наградная продукция
                  .categorySelect__selectedArrow
                    +svg('arrow_right_ic').iconArrow
                ul.js-category-dropdown
                  li
                    a(href="#")
                      | Универсальные
                  li
                    a(href="#")
                      | С Российской и региональной символикой
                  li
                    a(href="#")
                      | Комплекты
            a.allCategoryBtn(href="#")
              | Все категории каталога
            .listItems__sidebarFilter.js-listItems-sidebarFilter
        .oneItem__content
          form.oneItem__form(action="/" method="POST")
            .oneItem__title
              h1
                | Медаль «За  бег»
            .oneItem__item
              .oneItem__itemSlider
                .oneItem__itemSliderBorderTop
                .oneItem__itemSliderBorderBottom
                .oneItem__itemSliderBig.js-one-item-slider
                  a.oneItem__itemSlide.js-fancybox(href="./images/medal_item.png" rel="group")
                    img(src="./images/medal_item.png" alt="")
                  a.oneItem__itemSlide.js-fancybox(href="./images/medal_item.png" rel="group")
                    img(src="./images/medal_item.png" alt="")
                  a.oneItem__itemSlide.js-fancybox(href="./images/medal.png" rel="group")
                    img(src="./images/medal.png" alt="")
                  a.oneItem__itemSlide.js-fancybox(href="./images/medal_item.png" rel="group")
                    img(src="./images/medal_item.png" alt="")
                .oneItem__itemSliderSmall.js-one-item-slider-nav
                  .oneItem__itemSlide
                    img(src="./images/medal_item.png" alt="")
                  .oneItem__itemSlide
                    img(src="./images/medal_item.png" alt="")
                  .oneItem__itemSlide
                    img(src="./images/medal.png" alt="")
                  .oneItem__itemSlide
                    img(src="./images/medal_item.png" alt="")
              .oneItem__itemParams
                h5
                  | Характеристики
                .oneItem__itemParamsRow
                  span
                    | Цвет
                  span
                    .productItem__paramIc.productItem__paramIc--gold
                .oneItem__itemParamsRow
                  span
                    | Диаметр, мм
                  span
                    | 30
                .oneItem__itemParamsRow
                  span
                    | Толщина, мм
                  span
                    | 5
                .oneItem__itemParamsRow
                  span
                    | Область гравировки аверс (ш×в) м
                  span
                    | 25×25
                .oneItem__itemParamsRow
                  span
                    | Область гравировки реверс (ш×в) м
                  span
                    | 25×25
                .oneItem__itemParamsRow
                  span
                    | Доп. вставки
                  span
                    | —
                .oneItem__itemParamsRow
                  span
                    | Тип ленты
                  span
                    | Атласная
                a.oneItem__itemReadMore.articlePreview__readMore.js-scrollLink(href="/#itemParams")
                  | Все характеристики
                  +svg('arrow_right_ic')
            .oneItem__table.table
              table
                thead
                  tr
                    th
                      | Артикул
                    th
                      | Цвет и размер
                    th
                      | Цена
                    th
                      | Наличие
                    th
                      | Кол-во
                    th
                      | ИТОГО:
                tbody
                  tr
                    td
                      | 54656574
                    td
                      .productItem__paramIc.productItem__paramIc--gold
                      | 30 мм
                    td.price
                      | 2 200
                      +svg('rub').rub
                    td
                      | 2 694 шт
                    td
                      .quantity
                        input(type="number" min="1" value="1")
                    td.price
                      | 6 400
                      +svg('rub').rub
            a.oneItem__tableBuy.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyOneItem")
              | Купить
          form.oneItem__custom(action="/" method="POST")
            .oneItem__customLeft
              .oneItem__customHeader
                span
                  | Создать уникальную награду
              .oneItem__customRow
                .oneItem__customCol
                  .oneItem__customPic
                    img(src="./images/medal_item.png" alt="")
                .oneItem__customCol
                  .oneItem__customName
                    h6
                      | Медаль «За бег»
                    p
                      | Артикул: 54656574
                  .productItem__param
                    .productItem__paramIc.productItem__paramIc--gold
                    span.productItem__paramSize
                      | 30 см
                  .oneItem__customPrice
                    span
                      | Цена:
                    span
                      | 1 000
                      +svg('rub').rub
                    .quantity
                      input(type="number" min="1" value="1")
            .oneItem__customRight
              .oneItem__customRow.js-several-choise-slider
                .oneItem__customCol
                  .oneItem__customHeader
                    span
                      | Эмблема
                  .oneItem__customChoise.oneItem__customChoise--emblem
                    a.oneItem__customChoisePreview(href="#")
                      .oneItem__customChoisePic
                        img(src="./images/choise_item_emblem.png" alt="")
                      button.oneItem__edit
                        +svg('pen_ic')
                      button.oneItem__close
                        +svg('close_ic')
                      .oneItem__customChoiseSelect
                        | + Выбрать
                    .oneItem__customTooltip
                      .oneItem__customName
                        h6
                          | Ваша эмблема
                      .oneItem__customPrice
                        span
                          | 1 000
                          +svg('rub').rub
                        .quantity
                          input(type="number" min="1" value="1")
                .oneItem__customCol
                  .oneItem__customHeader
                    span
                      | Лента
                  .oneItem__customChoise.oneItem__customChoise--ribbon
                    a.oneItem__customChoisePreview(href="#")
                      .oneItem__customChoisePic
                        img(src="./images/choise_item_ribbon.png" alt="")
                      button.oneItem__edit
                        +svg('pen_ic')
                      button.oneItem__close
                        +svg('close_ic')
                      .oneItem__customChoiseSelect
                        | + Выбрать
                    .oneItem__customTooltip
                      .oneItem__customName
                        h6
                          | Лента атлассная
                      .oneItem__customPrice
                        span
                          | 1 000
                          +svg('rub').rub
                        .quantity
                          input(type="number" min="1" value="1")
                .oneItem__customCol
                  .oneItem__customHeader
                    span
                      | Колодка
                  .oneItem__customChoise.oneItem__customChoise--block
                    a.oneItem__customChoisePreview(href="#")
                      .oneItem__customChoisePic
                        img(src="./images/choise_item_block.png" alt="")
                      button.oneItem__edit
                        +svg('pen_ic')
                      button.oneItem__close
                        +svg('close_ic')
                      .oneItem__customChoiseSelect
                        | + Выбрать
                    .oneItem__customTooltip
                      .oneItem__customName
                        h6
                          | Колодка
                      .oneItem__customPrice
                        span
                          | 1 000
                          +svg('rub').rub
                        .quantity
                          input(type="number" min="1" value="1")
                .oneItem__customCol
                  .oneItem__customHeader
                    span
                      | Футляр
                  .oneItem__customChoise.oneItem__customChoise--case
                    a.oneItem__customChoisePreview(href="#")
                      .oneItem__customChoisePic
                        img(src="./images/choise_item_case.png" alt="")
                      button.oneItem__edit
                        +svg('pen_ic')
                      button.oneItem__close
                        +svg('close_ic')
                      .oneItem__customChoiseSelect
                        | + Выбрать
                    .oneItem__customTooltip
                      .oneItem__customName
                        h6
                          | Футляр бархатный
                      .oneItem__customPrice
                        span
                          | 1 000
                          +svg('rub').rub
                        .quantity
                          input(type="number" min="1" value="1")
            .oneItem__customFooter
              .oneItem__customTotal
                span
                  | стоимость комплекта:
                span
                  | 6 900
                  +svg('rub').rub
              a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyKit")
                | Купить комплект
          #itemParams.oneItem__params.tabBlock.js-tabsblock
            .tabBlock__tabs
              a.tabBlock__tab.js-tab-link.-active(href="javascript:void(0);" data-href="params" data-text="Характеристики")
                | Характеристики
                .tabBlock__tabBottomBg
              a.tabBlock__tab.js-tab-link(href="javascript:void(0);" data-href="description" data-text="Описание")
                | Описание
                .tabBlock__tabBottomBg
            .tabBlock__list
              .tabBlock__content.js-tab__params.js-tab
                ul.oneItem__paramsList
                  li
                    span
                      | Цвет
                    span.oneItem__paramsColors
                      .productItem__paramIc.productItem__paramIc--gold
                      .productItem__paramIc.productItem__paramIc--silver
                      .productItem__paramIc.productItem__paramIc--bronze
                  li
                    span
                      | Диаметр, мм	
                    span
                      | 30
                  li
                    span
                      | Толщина, мм	
                    span
                      | 5
                  li
                    span
                      | Область гравировки аверс (ш×в) мм
                    span
                      | 25×25
                  li
                    span
                      | Область гравировки реверс (ш×в) мм
                    span
                      | 25×25
                  li
                    span
                      | Доп. вставка
                    span
                      | —
                  li
                    span
                      | Тип ленты
                    span
                      | Атласная
                ul.oneItem__paramsList
                  li
                    span
                      | Параметр
                    span
                      | Значение
                  li
                    span
                      | Диаметр, мм	
                    span
                      | 30
                  li
                    span
                      | Толщина, мм	
                    span
                      | 5
                  li
                    span
                      | Область гравировки аверс (ш×в) мм
                    span
                      | 25×25
                  li
                    span
                      | Область гравировки реверс (ш×в) мм
                    span
                      | 25×25
                  li
                    span
                      | Доп. вставка
                    span
                      | —
                  li
                    span
                      | Тип ленты
                    span
                      | Атласная
              .hidden-block.tabBlock__content.js-tab__description.js-tab
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, soluta temporibus tempore labore eos perspiciatis deserunt harum tenetur fugiat laudantium numquam! Dolor quidem perspiciatis, eum quod eligendi eveniet consectetur consequuntur.
                p Inventore omnis facilis labore corporis perferendis, dolores ullam ipsum in sunt totam quisquam illum molestiae placeat dolorem id tenetur magni corrupti illo similique sapiente aspernatur asperiores nesciunt voluptas quaerat. Ea?
                p Sunt dolorum corporis mollitia soluta nemo. Aut eaque vel sunt itaque doloribus sit illo molestiae dignissimos quis, enim modi, iusto ipsum eius rerum provident officia totam id, veritatis minima. Dignissimos?
                p Magnam fuga excepturi enim. Ab veniam sed eligendi repellat ipsam quidem itaque veritatis dolores. Odio, obcaecati. Aliquid temporibus dolorum et placeat quidem aliquam? Neque laudantium voluptatum unde omnis natus est!

          .similarProducts
            .similarProducts__title
              h2
                | Похожие товары:
            .severalSlider.js-severalSimilar-slider
              .productItem.productItem--stock
                .productItem__borderTop
                .productItem__borderBottom
                .productItem__action
                  span
                    | Акция
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
              .productItem
                .productItem__borderTop
                .productItem__borderBottom
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
              .productItem
                .productItem__borderTop
                .productItem__borderBottom
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
              .productItem
                .productItem__borderTop
                .productItem__borderBottom
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
          .viewedProducts
            .viewedProducts__title
              h2
                | Просмотренные товары:
            .severalSlider.js-severalSimilar-slider
              .productItem.productItem--stock
                .productItem__borderTop
                .productItem__borderBottom
                .productItem__action
                  span
                    | Акция
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
              .productItem
                .productItem__borderTop
                .productItem__borderBottom
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
              .productItem
                .productItem__borderTop
                .productItem__borderBottom
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
              .productItem
                .productItem__borderTop
                .productItem__borderBottom
                a.productItem__img(href="#")
                  img.js-img(src="./images/medal_slider.png" alt="")
                a.productItem__title(href="#")
                  span
                    | Медаль золотая
                    br
                    | «Первое место за бег»
                .productItem__number
                  span
                    | Артикул: 
                  span
                    | 54656574
                .productItem__footer
                  .productItem__params
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--gold
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--silver
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                    .productItem__param
                      .productItem__paramIc.productItem__paramIc--bronze
                      span.productItem__paramSize
                        | 30 см
                      span.productItem__paramPrice
                        | 1220
                        +svg('rub').rub
                  a.button.moreBtn.js-show-popup(href="javascript:void(0);" data-form-class="buyItem")
                    span Купить
      a.scrollLink.js-scrollLink(href="/#wrapper")
        +svg('arrow_right_ic')
  include pug/popup_buy_one
  include pug/popup_buy
  include pug/popup_kit