@import "variables";
@import "functions";
@import "mixins";

.fourHundredFourWrapper {
  .content-container {
    width: 100%;
    min-height: calc(100vh - 90px - 451px);
  }
}

.fourHundredFour {
  .container {
    padding-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    width: auto;
    box-shadow: 0 0 20px rgba(208, 215, 223, 0.25);
  }

  &__logo {
    padding-top: 52px;
    display: flex;
    justify-content: center;
    border: none;

    svg {
      width: 260px;
      height: 102px;
    }
  }

  &__title {
    margin-bottom: 25px;
    padding-top: 22px;
    padding-left: 12px;
    font-family: $notoSansBold;
    font-size: 44px;
    color: #212121;

    span {
      display: block;

      &:last-of-type {
        margin-top: 10px;
        font-size: 22px;
        font-family:$notoSans;
      }
    }
  }

  &__text {
    padding-left: 15px;
  }

  &__subtitle {
    font-size: 16px;
    font-family: $notoSansBold;
  }

  ul.fourHundredFour__list {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  li.fourHundredFour__listItem {
    color: #a3acb6;
    font-size: 14px;
    line-height: 18px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  &__link {
    width: 100%;
    max-width: 174px;
    text-align: center;
    margin-bottom: 20px;
    border: none;

    &--red {
      &.sendBtn {
        background-color: $mainColor;
        background-image: none;
        color: #fff;

        &::before {
          border-color: transparent transparent transparent#c62431;
        }

        &::after {
          border-color: transparent #c62431 transparent transparent;
        }

        &:active,
        &:focus {
          background-image: none;
          background-color: darken($mainColor, 10%);

          &::before {
            border-color: transparent;
          }

          &::after {
            border-color: transparent;
          }
        }

        &:hover {
          background-color: lighten($mainColor, 10%);
          background-image: none;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .fourHundredFourWrapper {
    .content-container {
      min-height: calc(100vh - 147px - 270px);
    }
  }

  .fourHundredFour {
    .container {
      padding-left: 30px;
      padding-right: 40px;
      padding-bottom: 105px;
      margin-bottom: 0;
    }

    &__logo {
      padding-top: 85px;

      svg {
        width: 678px;
        height: 267px;
      }
    }

    &__title {
      padding-left: 26.5%;
      padding-top: 47px;
      font-size: 60px;

      span {
        &:last-of-type {
          margin-top: 20px;
          font-size: 30px;
        }
      }
    }

    &__text {
      padding-left: 27%;
    }

    &__buttons {
      padding-left: 27%;
      flex-direction: row;
    }

    &__link {
      margin-bottom: 0;
      margin-right: 22px;

      &--red {
        margin-right: 0;
        max-width: 164px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .fourHundredFour {
    .container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (min-width: 1280px) {
  .fourHundredFourWrapper {
    .content-container {
      min-height: calc(100vh - 147px - 270px);
    }
  }

  .fourHundredFour {
    .container {
      padding-bottom: 133px;
    }

    &__box {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__title {
      padding-left: 10px;
    }

    &__text {
      padding-left: 85px;
    }

    &__buttons {
      width: 415px;
      padding-left: 55px;
    }
  }
}