* {
  outline: none !important;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &:active,
  &:focus {
    outline: none !important;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s;
  will-change: opacity;

  .is-page-loaded & {
    opacity: 1;
  }
}
