// stylelint-disable at-rule-empty-line-before

@font-face {
  font-family: "NotoSansBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/NotoSans-Bold.eot");
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansBoldItalic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/NotoSans-BoldItalic.eot");
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("../fonts/NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-BoldItalic.woff") format("woff"), url("../fonts/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansItalic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/NotoSans-Italic.eot");
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/NotoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Italic.woff") format("woff"), url("../fonts/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSans.eot");
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/NotoSans.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans.woff") format("woff"), url("../fonts/NotoSans.ttf") format("truetype");
}
