.mainFooter {
  background-color: $mainColor;

  .container {
    box-shadow: none;
    background-color: $mainColor;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    width: 141px;

    svg {
      width: 141px;
      height: 92px;
    }
  }

  &__bottom {
    padding-top: 15px;
    padding-bottom: 27px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #99000c;
    background-color: #fff;

    p {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.035em;
      text-decoration: none;
      color: #99000c;
    }

    a {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.035em;
      text-decoration: none;
      color: #99000c;
    }

    .container {
      background-color: #fff;
    }
  }

  &__contacts {
    padding-left: 4px;
    width: 130px;

    a {
      display: block;
      padding: 7px 0;
      font-weight: 700;
      letter-spacing: 0.035em;
      text-decoration: none;
      color: #fff;

      &:first-of-type {
        margin-bottom: 5px;
        font-weight: 400;
      }

      span {
        display: inline-block;
        border-bottom: 2px solid #fff;
        padding-bottom: 5px;
      }
    }
  }

  &__contactsPhone {
    font-size: 15px;
  }

  &__contactsEmail {
    font-size: 16px;
  }

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    margin-right: -5px;
    margin-left: -5px;
    padding-top: 32px;
    padding-bottom: 18px;
    width: 100%;
  }

  &__menuList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__menuLink {
    display: inline-block;
    border: none;
    padding: 10px 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    color: #fff;
  }

  &__social {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 35px;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-right: 12px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__socialTitle {
    margin-bottom: 15px;
    width: 100%;
    line-height: 18px;
    text-align: center;
    color: #fff;
  }

  &__socialIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: none;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #f2d512 0%, #f6e584 100%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border-style: solid;
      border-width: 10px 20px 0 20px;
      border-color: #efcf00 transparent transparent transparent;
      width: 0;
      height: 0;
      opacity: 1;
      transition: bottom 0.4s, opacity 0.4s ease-in;
    }

    &:focus,
    &:hover {
      &::after {
        bottom: 0;
        opacity: 0;
        transition: bottom 0.4s, opacity 0.4s ease-out;
      }

      svg {
        transform: scale(1.1);
        transition: transform 0.2s;
      }
    }

    svg {
      fill: #b59c00;
      transform: scale(1);
      transition: transform 0.2s;
    }

    &--vk svg {
      width: 22px;
      height: 13px;
    }

    &--fb svg {
      width: 11px;
      height: 20px;
    }

    &--tw svg {
      width: 21px;
      height: 17px;
    }

    &--ok svg {
      width: 12px;
      height: 20px;
    }
  }
}

@media (min-width: 768px) {
  .mainFooter {
    &__menu {
      padding-top: 27px;
    }

    &__menuList {
      justify-content: space-between;
    }

    &__menuLink {
      padding: 10px 2px;
      font-size: 16px;
    }

    &__logo {
      position: absolute;
      left: 0;
      top: -10px;
      width: 171px;

      svg {
        width: 171px;
        height: 117px;
      }
    }

    &__row {
      position: relative;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    &__social {
      padding-top: 12px;
      padding-bottom: 31px;
      width: 432px;

      ul {
        justify-content: flex-end;
      }
    }

    &__socialTitle {
      letter-spacing: 0.015em;
      text-align: right;
    }

    &__contacts {
      width: 233px;
      text-align: right;
    }

    &__bottom {
      padding-bottom: 17px;
      text-align: left;
    }

    &__bottomCopyright {
      display: flex;
      justify-content: space-between;
      width: 100%;
      letter-spacing: 0.015em;

      a {
        letter-spacing: 0.015em;
      }
    }
  }
}

@media (min-width: 1280px) {
  .mainFooter {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }

    &__menu {
      padding-top: 27px;
      padding-left: 270px;
    }

    &__menuLink {
      position: relative;
      font-size: 18px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        opacity: 0;
        transition: width 0.4s, opacity 0.4s;
      }

      &:active,
      &:focus,
      &:hover {
        &::after {
          width: 100%;
          opacity: 1;
          transition: width 0.4s, opacity 0.4s;
        }
      }
    }

    &__logo {
      top: -47px;
      transition: opacity 0.3s;

      &:focus,
      &:hover {
        opacity: 0.8;
        transition: opacity 0.3s;
      }
    }

    &__social {
      width: 640px;
    }

    &__socialTitle {
      margin-bottom: 17px;
    }

    &__contacts {
      width: 440px;
      font-size: 0;

      a {
        display: inline-block;
        font-size: 17px;

        span {
          transition: border-color 0.4s;
        }

        &:focus span,
        &:hover span {
          border-color: transparent;
          transition: border-color 0.4s;
        }
      }
    }

    &__contactsPhone {
      margin-right: 30px;
      margin-bottom: 0;
    }

    &__bottom {
      margin-top: -57px;
      padding-bottom: 13px;
      background-color: $mainColor;

      .container {
        background-color: $mainColor;
      }

      a {
        position: relative;
        z-index: 10;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 8px;
          width: 0;
          height: 1px;
          background-color: transparent;
          transition: width 0.3s;
        }

        &:hover {
          &::after {
            width: 100%;
            background-color: #99000c;
            transition: width 0.3s;
          }
        }
      }
    }
  }
}
