@import "variables";

.mainHeader {
  padding-top: 90px;

  .container {
    background-color: transparent;
  }

  &__logo {
    display: none;
    border: none;

    svg {
      width: 145px;
      height: 95px;
      fill: #fff;
      stroke: $mainColor;
    }
  }

  &__top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    background-color: #f6fafd;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 0;
  }

  &__contactsEmail {
    margin-bottom: 9px;
    border: none;
    line-height: 1;
    text-decoration: none;
    color: #d10011;

    span {
      display: inline-block;
      border-bottom: 2px solid #c62431;
      padding-bottom: 7px;
    }
  }

  &__contactsPhone {
    border: none;
    font-family: $notoSansBold;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
    color: #000;
  }

  &__buttons {
    font-size: 0;
  }

  &__contactsPopupBtn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: none;
    padding-top: 8px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: $mainColor;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border-style: solid;
      border-width: 10px 20px 0 20px;
      border-color: #c62431 transparent transparent;
      width: 0;
      height: 0;
      transition: border-width 0.4s, bottom 0.4s;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__contactsSearchBtn {
    position: relative;
    z-index: 4;
    display: inline-block;
    vertical-align: top;
    overflow: visible;
    border: none;
    padding-top: 7px;
    padding-bottom: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: linear-gradient(45deg, #f2d512 0%, #f6e584 100%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border-style: solid;
      border-width: 10px 20px 0 20px;
      border-color: #efcf00 transparent transparent;
      width: 0;
      height: 0;
      transition: border-width 0.4s, bottom 0.4s;
    }

    svg {
      width: 23px;
      height: 25px;
    }
  }

  &__searchBox {
    display: inline-block;
  }

  &__contactsSearch {
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
    padding: 10px 18px;
    width: 0;
    height: 40px;
    max-width: 100%;
    font-size: 14px;
    color: #000;
    background-color: #f3d617;
    visibility: hidden;
    transition: width 0.5s, visibility 0.5s;

    &::placeholder {
      font-weight: 700;
      font-size: 12px;
      color: #b59c00;
    }

    &.show {
      right: 50px;
      top: 15px;
      z-index: 5;
      width: 260 / 320 * 100vw;
      visibility: visible;
      transition: width 0.5s, visibility 0.5s;
    }
  }

  &__menu {
    position: fixed;
    left: -110%;
    top: 90px;
    z-index: 3;
    width: 100%;
    background-color: $mainColor;
    opacity: 0;
    transition: left 0.3s ease, opacity 1s;

    &.active {
      left: 0;
      opacity: 1;
      transition: left 0.3s ease, opacity 1s;
    }
  }

  &__menuBg {
    display: none;
  }

  &__menuList {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }

  &__menuItem {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__menuLink {
    display: inline-block;
    border: none;
    padding: 14px 0;
    font-family: $notoSansBold;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
  }

  &__menuBtn {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: $mainColor;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-style: solid;
      border-width: 17px 17px 0 0;
      border-color: #c62431 transparent transparent;
      width: 0;
      height: 0;
    }

    div {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 5px;
      width: 20px;
      font-size: 0;
      transition: all 0.6s;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    span {
      display: inline-block;

      &:nth-of-type(1) {
        width: 2px;
        height: 2px;
        background-color: #fff;
      }

      &:nth-of-type(2) {
        width: 14px;
        height: 2px;
        background-color: #ffd3d6;
        transition: all 0.6s;
      }
    }

    &.active {
      div {
        margin-bottom: 0;
        background-color: #fff;
        transition: all 0.6s;

        &:nth-of-type(1) {
          width: 25px;
          transform: rotate(45deg) translate(2px, 1.2px);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          width: 25px;
          transform: rotate(-45deg) translate(1.5px, -0.5px);
        }
      }

      span:nth-of-type(2) {
        width: 100%;
        background-color: #fff;
        transition: all 0.6s;
      }
    }

    &--link {
      display: none;
    }
  }
}

.searchOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.85);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &.show {
    z-index: 4;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }
}

@media (min-width: 768px) {
  .mainHeader {
    padding-top: 0;

    .container {
      padding-right: 0;
      padding-left: 0;
      font-size: 0;
    }

    &__top {
      position: relative;
      padding-top: 20px;
      padding-right: 50px;
      padding-bottom: 8px;
      padding-left: 50px;
      background-color: transparent;
    }

    &__menuBtn {
      display: none;
    }

    &__logo {
      display: inline-block;

      svg {
        width: 112px;
        height: 73px;
      }
    }

    &__contacts {
      flex-direction: row;
      padding: 0;
      padding-top: 20px;
      padding-left: 30px;
    }

    &__contactsEmail {
      margin-bottom: 0;
      font-size: 18px;
    }

    &__contactsPhone {
      margin-left: 40px;
      font-size: 18px;
    }

    &__buttons {
      display: flex;
      padding-top: 10px;
    }

    &__searchBox {
      display: flex;
      margin-left: 27px;
      width: 134px;
    }

    &__contactsSearch {
      position: relative;
      right: auto;
      top: auto;
      width: 94px;
      visibility: visible;
    }

    &__menu {
      position: relative;
      left: auto;
      top: auto;
      display: inline-block;
      padding-right: 50px;
      padding-left: 50px;
      width: 100%;
      opacity: 1;
    }

    &__menuBg {
      position: absolute;
      left: 50%;
      top: 0;
      display: block;
      width: 122.8%;
      height: 100px;
      transform: translateX(-50%);
    }

    &__menuList {
      position: relative;
      z-index: 1;
      flex-direction: row;
      justify-content: space-between;
    }

    &__menuItem {
      margin-bottom: 0;
    }

    &__menuLink {
      font-size: 15px;
    }
  }
}

@media (min-width: 1000px) {
  .mainHeader {
    .container {
      box-shadow: none;
      background-color: #fff;
    }

    &__menuBg {
      width: 1240px;
      height: 103px;
    }

    &__menu {
      z-index: 2;
      display: block;
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;
      max-width: 1079px;
    }

    &__menuList {
      justify-content: center;
    }

    &__menuLink {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media (min-width: 1280px) {
  .mainHeader {
    .container {
      padding-right: 30px;
      padding-left: 30px;
      box-shadow: none;
      background-color: #fff;
    }

    &__logo {
      transition: opacity 0.3s;

      svg {
        width: 150px;
        height: 100px;
      }

      &:focus,
      &:hover {
        opacity: 0.8;
        transition: opacity 0.3s;
      }
    }

    &__top {
      padding-top: 23px;
      padding-right: 0;
      padding-bottom: 10px;
      padding-left: 0;
    }

    &__buttons {
      padding-top: 20px;
    }

    &__contacts {
      padding-top: 33px;
      padding-left: 200px;
    }

    &__contactsPhone {
      margin-left: 55px;
    }

    &__contactsEmail {
      span {
        transition: border-color 0.4s;
      }

      &:focus span,
      &:hover span {
        border-color: transparent;
        transition: border-color 0.4s;
      }
    }

    &__contactsPopupBtn {
      &:focus,
      &:hover {
        &::after {
          bottom: 1px;
          border-width: 0 20px 0 20px;
          transition: border-width 0.4s, bottom 0.4s;
        }
      }
    }

    &__contactsSearchBtn {
      &:focus,
      &:hover {
        &::after {
          bottom: 1px;
          border-width: 0 20px 0 20px;
          transition: border-width 0.4s, bottom 0.4s;
        }
      }
    }

    &__searchBox {
      margin-left: 32px;
      width: 316px;
    }

    &__contactsSearch {
      width: 276px;

      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }

    &__menu {
      height: 50px;
      background-color: transparent;
    }

    &__menuBg {
      top: -1px;
    }

    &__menuLink {
      padding: 15px 17px;
      font-size: 16px;
      transition: background-color 0.3s;

      &:focus,
      &:hover {
        color: #372a2b;
        background-color: #e9eff4;
        transition: background-color 0.3s, color 0.3s;
      }
    }
  }
}
