// stylelint-disable scss/dollar-variable-empty-line-before

// colors

$mainColor: #eb2936;

// fonts

$notoSans: "NotoSans", sans-serif;
$notoSansBold: "NotoSansBold", sans-serif;
$notoSansItalic: "NotoSansItalic", sans-serif;
$notoSansBoldItalic: "NotoSansBoldItalic", sans-serif;
