@import "variables";
@import "functions";
@import "mixins";

.articlePreview {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent #dce4eb transparent;
    width: 0;
    height: 0;
  }

  &__title {
    overflow: hidden;
    margin-top: 0;
    max-width: 210px;
    max-height: 70px;
    line-height: 24px;
    color: #212121;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 200px;
  }

  &__text {
    position: relative;

    p {
      overflow: hidden;
      margin-bottom: 25px;
      max-height: 70px;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.01em;
      color: #a3acb6;
    }
  }

  &__date {
    font-family: $notoSansBold;
    font-size: 12px;
    line-height: 18px;
    color: #c3ceda;

    span {
      display: block;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__readMore {
    display: inline-block;
    border: none;
    font-family: $notoSansBold;
    font-size: 14px;
    color: #b59c00;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      width: 10px;
      height: 14px;
      fill: #b59c00;
      transform: translateX(0);
      transition: transform 0.4s;
    }

    &:hover {
      svg {
        transform: translateX(2px);
        transition: transform 0.4s;
      }
    }
  }

  &--stock {
    .articlePreview__footer {
      align-items: flex-start;
      flex-direction: column;
    }

    .articlePreview__date {
      overflow: hidden;
      max-height: 37px;
    }

    .articlePreview__text {
      padding: 30px;
      padding-top: 35px;
      padding-left: 35px;
      max-width: 265px;

      p {
        max-height: 55px;
      }
    }

    .articlePreview__readMore {
      margin-top: 15px;
      color: $mainColor;

      svg {
        fill: $mainColor;
      }
    }
  }

  &--new {
    padding: 30px 25px;
    padding-right: 16px;

    .articlePreview__text {
      padding-top: 15px;

      p {
        margin-bottom: 17px;
      }
    }

    .articlePreview__img {
      width: 140px;
      height: 140px;
    }

    .articlePreview__title {
      margin-bottom: 8px;
      font-size: 18px;
    }
  }
}

.articlePreviews {
  &__allBtn {
    position: relative;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px 0;
    width: 206px;
    font-family: $notoSansBold;
    font-size: 16px;
    text-align: center;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-style: solid;
      border-width: 17px 17px 0 0;
      width: 0;
      height: 0;
      transition: border-width 0.4s;
    }

    &--stock {
      color: #fff;
      background-color: $mainColor;

      &::before {
        border-color: #c62431 transparent transparent transparent;
      }
    }

    &--news {
      color: #b59c00;
      background-image: linear-gradient(3deg, #f2d512 0%, #f6e584 100%);

      &::before {
        border-color: #efcf00 transparent transparent transparent;
      }
    }
  }
}

@media (min-width: 768px) {
  .articlePreview {
    display: inline-block;
    margin-bottom: 20px;
    width: 270px;
    text-align: left;

    &--new {
      padding-right: 20px;
    }
  }
}

@media (min-width: 1280px) {
  .articlePreview {
    display: flex;
    margin-bottom: 20px;
    width: 510px;
    height: 200px;
    overflow: hidden;
    text-align: left;

    &:last-of-type {
      margin-bottom: 30px;
    }

    &.hidden-block {
      display: flex !important;
    }

    &__img {
      width: 240px;
      border: none;
    }

    &--new {
      padding: 30px 35px;
      padding-right: 20px;

      .articlePreview__text {
        width: 330px;
        padding-top: 0;
        padding-left: 30px;

        p {
          margin-bottom: 20px;
        }

        a {
          border: none;
        }
      }

      .articlePreview__title {
        font-size: 18px;
        margin-top: -3px;
        max-width: 100%;
      }
    }

    &--stock {
      .articlePreview__readMore {
        margin-top: 10px;
      }
    }
  }

  .articlePreviews {
    &__allBtn {
      span {
        position: relative;
        z-index: 1;
      }

      &:hover,
      &:focus {
        overflow: hidden;

        &::before {
          border-width: 270px 270px 0 0;
          transition: border-width 0.4s;
        }
      }
    }
  }
}
