@import "variables";
@import "functions";
@import "mixins";

.catalog {
  .container {
    padding-bottom: 40px;
    margin: 0 10px;
    width: auto;
  }

  &__title {
    padding-left: 15px;

    h1 {
      text-transform: none;
    }
  }

  &__item {
    position: relative;
    border: none;
    display: block;
    min-width: 100%;
    width: auto;
    height: 200px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 23px 0 0 23px;
    }

    &More {
      position: absolute;
      left: 0;
      bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
      border: none;
      background-image: linear-gradient(45deg, #f2d512 0%, #f6e584 100%);
      height: 40px;
      width: 157px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        border-style: solid;
        border-width: 20px 0 20px 10px;
        border-color: transparent transparent transparent #efcf00;
        width: 0;
        height: 0;
      }

      span {
        color: #b59c00;
        font-family: $notoSansBold;
        font-size: 12px;
      }

      svg {
        margin-right: 10px;
        fill: #b59c00;

        &.ic-medal {
          width: 15px;
          height: 25px;
        }
  
        &.ic-rewars {
          width: 20px;
          height: 25px;
        }
  
        &.ic-cupSmall {
          width: 21px;
          height: 21px;
        }
  
        &.ic-panel {
          width: 26px;
          height: 20px;
        }
      }
    }

    &Title {
      padding-top: 35px;
      padding-left: 37px;
      padding-right: 120px;
      padding-bottom: 20px;
      margin: 0;
    }

    &--red {
      &::before {
        border-color: transparent transparent transparent #c62431;
      }

      .catalog__itemTitle {
        color: #ffffff;
      }
    }

    &--gray {
      &::before {
        border-color: transparent transparent transparent #c3ceda;
      }

      .catalog__itemTitle {
        color: #212121;
      }
    }

    &--medal {
      background: #eb2936 url("../images/catalog_item_bg_1.png") calc(185 / 320 * 100vw) 100% no-repeat;
    }

    &--premium {
      background: #e9eff4 url("../images/catalog_item_bg_2.png") calc(185 / 320 * 100vw) 100% no-repeat;
    }

    &--cups {
      background: #e9eff4 url("../images/catalog_item_bg_3.png") calc(100 / 320 * 100vw) 100% no-repeat;
    }

    &--souvenir {
      background: #eb2936 url("../images/catalog_item_bg_4.png") calc(195 / 320 * 100vw) 100% no-repeat;
    }
  }

  &__buttons {
    padding-top: 10px;
    // padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .button {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .moreBtn {
      line-height: 21px;
      padding: 18px 10px;
    }
  }

  &__text {
    padding-right: 10px;
    padding-left: 20px;

    p {
      letter-spacing: normal;
    }
  }

  &__textTitle {
    h4 {
      margin-top: 27px;
    }
  }
}

@media (min-width: 768px) {
  .catalog {
    .container {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 45px;
    }

    &__title {
      padding-left: 0;
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
    }

    &__col {
      width: 50%;
      padding-right: 10px;

      &:nth-of-type(2) {
        padding-left: 10px;
        padding-right: 0;
      }
    }

    &__item {
      margin-left: 0;
      margin-right: 0;

      &--medal {
        background: #eb2936 url("../images/catalog_item_bg_1.png") calc(185 / 768 * 100vw) 100% no-repeat;
      }

      &--premium {
        background: #e9eff4 url("../images/catalog_item_bg_2.png") calc(185 / 768 * 100vw) 100% no-repeat;
      }

      &--cups {
        background: #e9eff4 url("../images/catalog_item_bg_3.png") calc(100 / 768 * 100vw) 100% no-repeat;
      }

      &--souvenir {
        background: #eb2936 url("../images/catalog_item_bg_4.png") calc(195 / 768 * 100vw) 100% no-repeat;
      }
    }

    &__itemTitle {
      padding-right: 40%;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      width: 100%;

      .button {
        width: 290px;
        margin-bottom: 0;
      }
    }

    &__text {
      padding-left: 0;
      padding-right: 0;

      h4 {
        margin-top: 28px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .catalog {
    .container {
      margin: 0 auto;
      width: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .catalog {
    .container {
      padding-left: 118px;
      padding-right: 118px;
    }

    &__title {
      h1 {
        text-transform: uppercase;
      }
    }

    &__item {
      overflow: hidden;

      &--medal {
        background: #eb2936 url("../images/catalog_item_bg_1.png") 95% 100% no-repeat;
      }

      &--premium {
        background: #e9eff4 url("../images/catalog_item_bg_2.png") 100% 100% no-repeat;
      }

      &--cups {
        background: #e9eff4 url("../images/catalog_item_bg_3.png") 100% 100% no-repeat;
      }

      &--souvenir {
        background: #eb2936 url("../images/catalog_item_bg_4.png") 100% 100% no-repeat;
      }

      &::after {
        content:"";
        position:absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:inherit;
        transition: transform 0.4s;
      }

      &:hover {
        &::after {
          transform: scale(1.1);
          transition: transform 0.4s;
        }

        .catalog__itemMore {
          &::after {
            right: 0;
            border-width: 20px 0 20px 0;
            transition: border-width 0.3s, right 0.3s;
          }
        }
      }
    }

    &__itemTitle {
      position: relative;
      z-index: 1;
    }

    &__itemMore {
      z-index: 1;

      &::after {
        transition: border-width 0.3s, right 0.3s;
      }
    }

    &__buttons {
      .button {
        margin: 0;
      }

      .sendBtn {
        margin-right: 20px;
      }

      .moreBtn {
        overflow: hidden;

        &::after {
          transition: border-width 0.4s;
        }

        &:hover {
          background-color: #eb2936;

          &::after {
            border-width: 0 0 280px 360px;
            transition: border-width 0.4s;
          }
        }
      }
    }

    &__text {
      p {
        letter-spacing: 0.015em;
      }
    }
  }
}