@import "variables";
@import "functions";
@import "mixins";

.contacts {
  .container {
    position: relative;
    margin: 0 10px;
    width: auto;
  }

  &__container {
    position: relative;
  }

  &__text {
    position: relative;
    padding-right: 10px;
    padding-bottom: 430px;
    padding-left: 15px;
  }

  &__title {
    h2 {
      margin-top: 5px;
      margin-bottom: 20px;
      font-family: $notoSansBold;
      font-size: 30px;
    }
  }

  &__fieldTitle {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #a3acb6;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;

    &:last-of-type {
      padding-top: 10px;

      .contacts__fieldTitle {
        margin-bottom: 5px;
      }
    }
  }

  &__fieldPhone {
    border: none;
    font-family: $notoSansBold;
    font-size: 16px;
    color: #212121;
  }

  &__fieldEmail {
    border: none;
    font-size: 18px;
    color: $mainColor;

    span {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: $mainColor;
      }
    }
  }

  &__fieldAdress {
    font-family: $notoSansBold;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
  }

  &__footer {
    position: absolute;
    left: 15px;
    bottom: 20px;
  }

  &__map {
    position: absolute;
    left: -10px;
    bottom: 110px;
    width: 105%;
    height: 308px;
  }

  &__form {
    padding-right: 15px;
    padding-left: 15px;

    .formField {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 18px;

      &:last-of-type {
        margin-bottom: 18px;
      }

      &__title {
        margin-bottom: 10px;
      }
    }
  }

  &__formFooter {
    padding-top: 5px;
    padding-bottom: 23px;

    .formField .checkbox {
      padding-bottom: 25px;
      width: 100%;

      &__text {
        width: 215px;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  .contacts {
    .container {
      padding-right: 0;
      padding-left: 40px;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 200px;
    }

    &__text {
      padding-bottom: 0;
      padding-left: 0;
    }

    &__map {
      position: relative;
      left: auto;
      bottom: auto;
      margin-top: 63px;
      width: 364px;
      height: 510px;
    }

    &__footer {
      position: relative;
      left: auto;
      bottom: auto;
      padding-top: 10px;
    }

    &__form {
      position: absolute;
      left: 0;
      bottom: 50px;
      padding-top: 25px;
      padding-right: 40px;
      padding-left: 38px;
      width: 464px;
      box-shadow: 0 0 20px rgba(208, 215, 223, 0.25);
      background-color: #fff;

      .formField {
        flex-direction: row;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 6px;
        }

        input,
        textarea {
          width: 274px;
        }

        &__title {
          padding-top: 15px;
        }
      }
    }

    &__formTitle {
      margin-top: 0;
      margin-bottom: 22px;
    }

    &__formFooter {
      padding-top: 13px;
      padding-bottom: 0;

      .formField {
        flex-direction: row;
        margin-bottom: 0;

        .checkbox {
          width: 200px;

          &__text {
            width: 175px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .contacts {
    .container {
      margin: 0 auto;
      padding-right: 115px;
      padding-left: 120px;
    }
  }
}

@media (min-width: 1280px) {
  .contacts {
    &__title {
      h2 {
        text-transform: uppercase;
      }
    }

    &__fieldPhone {
      width: fit-content;
    }

    &__fieldEmail {
      width: fit-content;

      span::after {
        transition: background-color 0.4s;
      }

      &:hover {
        span::after {
          background-color: transparent;
          transition: background-color 0.4s;
        }
      }
    }

    &__container {
      justify-content: space-between;
      padding-bottom: 226px;
    }

    &__text {
      width: 355px;
    }

    &__map {
      width: 545px;
      height: 510px;
    }

    &__form {
      left: 80px;
      bottom: 78px;
      height: 395px;

      .formField {
        flex-direction: row;
        margin-bottom: 22px;

        &:last-of-type {
          margin-bottom: 22px;
        }
      }
    }

    &__formFooter {
      padding-top: 3px;
    }
  }
}
