// stylelint-disable at-rule-empty-line-before
@font-face {
  font-family: "NotoSansBoldItalic";
  src: url("../fonts/NotoSans/NotoSans-BoldItalic.eot");
  src: url("../fonts/NotoSans/NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans/NotoSans-BoldItalic.woff2") format("woff2"),
      url("../fonts/NotoSans/NotoSans-BoldItalic.woff") format("woff"),
      url("../fonts/NotoSans/NotoSans-BoldItalic.svg#NotoSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "NotoSansItalic";
  src: url("../fonts/NotoSans-Italic.eot");
  src: url("../fonts/NotoSans/NotoSans-Italic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans/NotoSans-Italic.woff2") format("woff2"),
      url("../fonts/NotoSans/NotoSans-Italic.woff") format("woff"),
      url("../fonts/NotoSans/NotoSans-Italic.svg#NotoSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans/NotoSans.eot");
  src: url("../fonts/NotoSans/NotoSans.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans/NotoSans.woff2") format("woff2"),
      url("../fonts/NotoSans/NotoSans.woff") format("woff"),
      url("../fonts/NotoSans/NotoSans.svg#NotoSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansBold";
  src: url("../fonts/NotoSans/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/NotoSans/NotoSans-Bold.woff2") format("woff2"),
      url("../fonts/NotoSans/NotoSans-Bold.woff") format("woff"),
      url("../fonts/NotoSans/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
