@import "variables";
@import "functions";
@import "mixins";

.index {
  .mainHeader {
    position: relative;
    z-index: 2;
    margin-top: 90px;
    padding-top: 0;
    background-image: url("../images/index_promo_bg.png");
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;

    > .container {
      padding: 0;
    }

    &__top {
      padding-right: 10px;
      padding-left: 10px;
      width: 100%;
      background-color: #fff;
    }

    &__menuBtn--link {
      display: none;
    }
  }

  .promo {
    overflow: hidden;
    padding-bottom: 145px;

    .container {
      background-color: transparent;
    }

    &__medal {
      position: relative;
      margin: 0 auto;
      width: 261px !important;
      height: 324px !important;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        left: -4px;
        top: -87px;
        width: 100%;
        height: 198px;
        background: url("../images/medal_bg.png") center 0 no-repeat;
        background-size: 50%;
      }

      img {
        position: absolute;
        left: 48% !important;
        bottom: -36px !important;
        width: auto !important;
        height: 375px !important;
        transform: translateX(-50%) !important;
      }

      .spritespin-stage {
        top: -15px !important;
        width: 100% !important;
        height: 100% !important;
        overflow: visible !important;
      }
    }

    &__title {
      padding-top: 23px;
      padding-bottom: 20px;
      padding-left: 15px;

      h1 {
        margin-bottom: 0;
        line-height: 33px;
        letter-spacing: normal;
        text-transform: none;
      }
    }

    &__description {
      padding-top: 30px;
      padding-right: 15px;
      padding-bottom: 16px;
      padding-left: 20px;
      background-color: #fff;

      h5 {
        margin-top: 0;
        margin-bottom: 5px;
      }

      .button {
        transform: translateY(27px);
      }
    }
  }

  .demo {
    position: relative;
    z-index: 1;
    padding-bottom: 70 / 320 * 100vmin;
    height: 100%;

    &__bg {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 70 / 320 * 100vmin;
      background: url("../images/index_second_bg_mobile.png") bottom no-repeat;
      transform: translateX(-50%);
    }

    .container {
      position: relative;
      margin-top: -72px;
      padding-top: 97px;
      background-color: #fff;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -65 / 320 * 100vmin;
        border-style: solid;
        border-width: 65 / 320 * 100vmin 160 / 320 * 100vmin 0 160 / 320 * 100vmin;
        border-color: #fff transparent transparent transparent;
        width: 0;
        height: 0;
      }
    }

    &__navigation {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 7px;
      width: 100%;
    }

    &__navigationLink {
      margin-bottom: 20px;

      &:nth-last-of-type(2) {
        margin-bottom: 30px;
      }
    }

    &__slider {
      margin-right: -10px;
      margin-left: -10px;
    }

    &__popularTitle {
      font-family: $notoSansBold;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      color: #212121;
    }

    .sendBtn {
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }
  }

  .stockNews {
    margin: 0 auto;
    width: 100%;
    background: url("../images/stock_bg_mobile.png") center -150px no-repeat;

    .container {
      margin-top: -45px;
      padding-top: 75px;
      padding-right: 25px;
      padding-bottom: 20px;
      padding-left: 25px;
      box-shadow: none;
      background-color: transparent;
    }

    &__title {
      margin-bottom: 25px;
      font-family: $notoSansBold;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }

    &__news {
      padding-top: 100px;

      .stockNews__title {
        margin-bottom: 34px;
      }
    }
  }

  .aboutCompany {
    padding-top: 25px;
    background: url("../images/index_about_bg.jpg") center 0 no-repeat;
    background-size: cover;

    .container {
      background-color: transparent;
    }

    &__box {
      padding: 31px 19px;
      padding-bottom: 40px;
      text-align: center;
      background-color: #fff;

      .button {
        margin-top: 15px;
        max-width: 255px;

        &::after {
          left: 0;
          right: auto;
          top: 0;
          bottom: auto;
          border-width: 16px 16px 0 0;
          border-color: #c62431 transparent transparent transparent;
        }
      }

      p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;

        + p {
          margin-top: 18px;
        }
      }
    }

    &__title {
      h2 {
        margin-top: 0;
        margin-bottom: 11px;
        font-size: 30px;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 768px) {
  .index {
    .content-container {
      min-height: calc(100vh - 788px - 270px);
    }

    .mainHeader {
      margin-top: 0;
      background-position: center -27px;
      background-size: auto;
      background-color: #fff;

      &__top {
        justify-content: flex-end;
        padding-top: 37px;
        padding-right: 53px;
        box-shadow: none;
        background-color: transparent;
      }

      &__menu {
        z-index: 2;
      }

      &__contacts {
        align-items: center;
        flex-direction: column;
        margin-left: 43px;
        padding-top: 10px;
        padding-left: 0;
      }

      &__contactsEmail {
        margin-bottom: 15px;
        font-size: 16px;
      }

      &__contactsPhone {
        margin-left: 0;
      }

      &__menuBtn--link {
        position: absolute;
        left: 50px;
        top: 45px;
        display: flex;
        overflow: hidden;
        margin: 0;

        &::after {
          transition: border-width 0.4s;
        }

        div {
          z-index: 1;
        }

        &:hover {
          &::after {
            border-width: 105px 105px 0 0;
            transition: border-width 0.4s;
          }
        }
      }

      &__searchBox {
        margin-left: 14px;
        width: auto;
      }

      &__contactsSearch {
        position: absolute;
        right: 55px;
        width: 0;

        &.show {
          right: 90px;
          top: 47px;
          z-index: 5;
          width: 625 / 768 * 100vw;
          visibility: visible;
          transition: width 0.5s, visibility 0.5s;
        }
      }

      &__buttons {
        margin-left: 36px;
      }

      .container {
        box-shadow: none;
        background-color: transparent;
      }
    }

    .promo {
      position: relative;
      overflow: visible;
      min-height: 617px;

      &__medal {
        position: absolute !important;
        left: 10px !important;
        top: -123px !important;
        width: 331px !important;
        height: 514px !important;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 198px;
          background: url("../images/medal_bg.png") center 0 no-repeat;
          background-size: 48%;
        }

        img {
          position: absolute;
          left: 49.5% !important;
          bottom: -56px !important;
          width: auto !important;
          height: 485px !important;
          transform: translateX(-50%);
        }

        .spritespin-stage {
          height: 430px !important;
          top: auto !important;
          bottom: 0 !important;
        }
      }

      &__title {
        margin-bottom: 50px;
        padding-top: 68px;
        padding-left: 0;
        max-width: 379px;

        h1 {
          font-size: 40px;
          line-height: 40px;
        }
      }

      &__description {
        position: relative;
        margin-right: 50px;
        padding-left: 40px;
        max-width: 335px;

        &::after {
          content: "";
          position: absolute;
          left: -33px;
          top: 50%;
          border-style: solid;
          border-width: 23.5px 33px 23.5px 0;
          border-color: transparent #c3ceda transparent transparent;
          width: 0;
          height: 0;
          transform: translateY(-50%);
        }

        .button {
          transform: translateY(30px);

          &::after {
            left: 0;
            top: 0;
            border-width: 16px 16px 0 0;
            border-color: #c62431 transparent transparent transparent;
            transition: border-width 0.4s;
          }
        }
      }

      .container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      }
    }

    .demo {
      padding-bottom: 185 / 768 * 100vw;
      background-color: #f6fafd;

      .sendBtn {
        margin: 0 auto;
        max-width: 324px;
      }

      .container {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -175px;
          width: 100%;
          height: 0;
          border-style: solid;
          border-width: 175px 384 / 768 * 100vmin 0 384 / 768 * 100vw;
          border-color: #fff transparent transparent transparent;
        }
      }

      &__bg {
        height: 180 / 768 * 100vw;
        background-color: #f6fafd;
        background: url("../images//index_second_bg.png") center bottom no-repeat;
        background-size: cover;
      }

      &__navigation {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 15px;
      }

      &__slider {
        .onceSlider__image {
          height: 373px;
        }

        .onceSlider {
          padding-top: 20px;

          .moreBtn {
            position: absolute;
            right: 65px;
            bottom: 30px;
            margin: 0;
            max-width: 206px;
          }
        }

        .slick-arrow {
          top: 51.5%;
          bottom: auto;
          transform: translateY(-50%);
        }

        .slick-prev {
          left: 46px;
        }

        .slick-next {
          right: 46px;
        }

        .slick-dots {
          bottom: 0;
          padding-left: 65px;
          width: 50%;
          text-align: left;
        }

        .onceSlider__text {
          right: 86px;
          top: 32px;
          padding: 35px;
          padding-left: 40px;
          width: 308px;
          height: 187px;

          p {
            overflow: hidden;
            max-height: 112px;
            font-family: $notoSansBold;
            font-size: 30px;
            line-height: 37.87px;
            color: #212121;
          }
        }
      }

      &__popular {
        .severalSlider {
          padding-bottom: 20px;
        }

        .sendBtn {
          position: absolute;
          left: 50%;
          bottom: -75px;
          z-index: 1;
          max-width: 290px;
          transform: translateX(-50%);
        }
      }
    }

    .stockNews {
      padding-top: 70px;
      background: #f6fafd url("../images/index_news_bg_2.png") center 0 no-repeat;

      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -79px;
        padding-top: 7px;
        padding-right: 50px;
        padding-bottom: 70px;
        padding-left: 50px;
        box-shadow: none;
      }

      &__title {
        margin-bottom: 32px;
        text-align: left;
      }

      &__stock {
        width: 50%;

        .articlePreviews__allBtn {
          display: inline-block;
          margin: 0;
        }
      }

      &__news {
        padding-top: 0;
        width: 50%;
        text-align: right;

        .articlePreviews {
          text-align: right;
        }

        .stockNews__title {
          margin-bottom: 32px;
          text-align: right;
        }

        .articlePreviews__allBtn {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .aboutCompany {
      padding-top: 88px;
      padding-bottom: 0;

      &__title {
        h2 {
          margin-bottom: 26px;
        }
      }

      &__box {
        padding-top: 53px;
        padding-right: 70px;
        padding-bottom: 65px;
        padding-left: 70px;

        .button {
          margin-top: 44px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .index {
    .content-container {
      background: url("../images/bg.png") center 224px no-repeat;
    }

    .mainHeader {
      background-position: center 0;
      background-color: #f6fafd;

      &__logo {
        transform: translateY(-25px);

        svg {
          width: 170px;
          height: 111px;
        }
      }

      &__top {
        padding-top: 44px;
        padding-right: 0;
      }

      &__menuBtn--link {
        left: 0;
      }

      &__contacts {
        align-items: flex-start;
        flex-direction: row;
        margin-left: 75px;
      }

      &__contactsEmail {
        margin-right: 30px;
        margin-bottom: 0;
        font-size: 18px;
      }

      &__buttons {
        margin-left: 15px;
        padding-top: 0;
      }

      &__contactsSearch {
        position: absolute;
        right: 0;
        width: 0;

        &.show {
          right: 38px;
          top: 44px;
          z-index: 5;
          width: 735 / 1280 * 100vw;
          visibility: visible;
          transition: width 0.5s, visibility 0.5s;
        }
      }
    }

    .promo {
      min-height: 609px;

      &__medal {
        left: 78px !important;
        top: -173px !important;
        width: 367px !important;
        height: 576px !important;

        &::after {
          content: "";
          position: absolute;
          left: 2px;
          top: 0;
          width: 100%;
          height: 198px;
          background: url("../images//medal_bg.png") center 0 no-repeat;
        }

        img {
          left: 49.8% !important;
          bottom: -48px !important;
          height: 530px !important;
          min-width: 100% !important;
        }

        .spritespin-stage {
          top: auto !important;
          bottom: 0 !important;
          height: 483px !important;
        }
      }

      &__title {
        margin-bottom: 22px;
        padding-top: 28px;
        max-width: 548px;

        h1 {
          font-size: 60px;
          line-height: 1;
        }
      }

      &__description {
        margin-right: 90px;
        max-width: 450px;

        &::after {
          left: -88px;
          border-width: 62.5px 88px 62.5px 0;
        }

        p {
          padding-right: 40px;
        }

        .button {
          &:hover {
            background-color: #eb2936;

            &::after {
              border-width: 260px 260px 0 0;
              border-color: #c62431 transparent transparent transparent;
              transition: border-width 0.4s;
            }
          }
        }
      }
    }

    .demo {
      padding-bottom: 230px;
      background: #f6fafd url("../images/bg.png") center 200px no-repeat;

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -48px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -230px;
          border-style: solid;
          border-width: 230px 570px 0 570px;
          border-color: #fff transparent transparent transparent;
          width: 0;
          height: 0;
        }
      }

      &__bg {
        left: 0;
        bottom: 0;
        height: 324px;
        background-position: 50% 0;
        background-color: #f6fafd;
        transform: none;
      }

      &__navigation {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        width: 325px;
      }

      &__slider {
        margin-right: 0;
        padding-top: 0;
        width: 545px;

        .onceSlider {
          padding-top: 0;

          .moreBtn {
            right: 20px;
            bottom: 40px;
          }
        }

        .onceSlider__image {
          height: 340px;
        }

        .onceSlider__text {
          right: 73px;
          top: 22px;
          padding: 30px;
          padding-right: 25px;
          padding-left: 35px;
          width: 260px;
          height: 157px;

          p {
            max-height: 100px;
            font-size: 26px;
            line-height: 32px;
          }
        }

        .slick-arrow {
          top: 45%;
        }

        .slick-prev {
          left: 0;
        }

        .slick-next {
          right: 0;
        }

        .slick-dots {
          bottom: 10px;
          padding-left: 31px;
        }
      }

      &__popular {
        padding-top: 10px;
        width: 100%;

        .severalSlider {
          padding-right: 0;
          padding-bottom: 5px;
          padding-left: 0;

          .productItem {
            margin: 0;
            margin-right: 32px;
            width: 280px !important;
          }
        }

        .sendBtn {
          bottom: -102px;
        }
      }
    }

    .stockNews {
      position: relative;
      overflow: visible;
      padding-top: 74px;

      &::after {
        content: "";
        position: absolute;
        top: 70px;
        display: block;
        width: 100%;
        height: 100%;
        background: url("../images/index_news_bg_2.png") center 104px no-repeat;
      }

      .container {
        padding-right: 0;
        padding-bottom: 33px;
        padding-left: 0;

        > * {
          z-index: 2;
        }
      }

      &__news {
        .articlePreviews {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
        }
      }
    }

    .aboutCompany {
      padding-top: 140px;

      .container {
        box-shadow: none;
        padding-right: 80px;
        padding-left: 80px;
      }

      &__box {
        padding-left: 110px;
        padding-right: 110px;
        padding-bottom: 55px;

        .button {
          margin-top: 30px;

          &:hover {
            &::after {
              border-width: 260px 260px 0 0;
              transition: border-width 0.4s;
            }
          }
        }
      }
    }

    .scrollLink {
      margin-top: 105px;
    }
  }
}
