@import "variables";
@import "functions";
@import "mixins";
@import "popup";

.listItems {
  .container {
    overflow-x: hidden;
    margin: 0 10px;
    width: auto;
  }

  &__sidebar {
    display: none;
  }

  &__header {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
  }

  &__title {
    h1{
      margin-bottom: 14px;
    }
  }

  &__headerMobile {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__headerMobileButtons {
    position: relative;
    padding-top: 23px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      height: 2px;
      width: 120%;
      background-color:#e9eff4;
    }

    a {
      border: none;
    }

    .allCategoryBtn {
      font-family: $notoSansBold;
      font-size: 14px;
      color: #b59c00;
    }

    .categoryFilterBtn {
      display: flex;
      align-items: center;

      &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 43px;
        height: 44px;
        background-color: #eb2936;
        transform: translateY(-3px);

        &::after {
          content: "";
          position: absolute;
          bottom: -11px;
          left: 0;
          border-style: solid;
          border-width: 11px 21.5px 0 21.5px;
          border-color: #c62431 transparent transparent transparent;
          width: 0;
          height: 0;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      span {
        display: inline-block;
        font-family: $notoSansBold;
        font-size: 14px;
        color: #212121;
      }
    }
  }

  &__sort {
    > span {
      display: inline-block;
      margin-bottom: 10px;
      font-family: $notoSansBold;
      font-size: 13px;
      color: #212121;
    }

    .SumoSelect .CaptionCont {
      border-color: #e9eff4;
      padding-top: 8px;
      padding-right: 40px;
      padding-bottom: 8px;
      padding-left: 13px;
      width: 180px;
    }

    .SlectBox span {
      color: #212121;
      font-size: 13px;
      padding-right: 0;
    }

    .SumoSelect .CaptionCont label {
      background-color: transparent;

      svg {
        fill: $mainColor;
        width: 13px;
        height: 8px;
      }

      &::after {
        display: none;
      }
    }

    .SumoSelect .options li {
      border-bottom: none;
      padding-left: 15px;
    }
  }

  &__list {
    position: relative;

    .productItem {
      margin: 0 auto;
      margin-bottom: 8px;
      max-width: 240px;

      &__img {
        margin-bottom: 20px;
      }

      &__params {
        vertical-align: middle;
        padding-left: 15px;
      }

      &__footer .button {
        top: 9px;
        vertical-align: middle;
        width: 76px;
        font-size: 14px;
      }
    }
  }

  ul.pagination {
    margin-top: 21px;
    margin-bottom: 35px;

    li {
      margin-bottom: 0;
    }
  }
}

.listItemsPopup {
  &.popUpForm {
    max-width: 100%;
    height: 100%;
    overflow: auto;
    transform: none;
  }

  .popUpForm__item {
    border-bottom: 2px solid #e9eff4;
    padding: 18px 0;
    width: 100%;

    &Name {
      font-family: $notoSansBold;
    }

    &Header {
      display: flex;
      justify-content: space-between;

      svg {
        width: 12px;
        height: 17px;
        fill: $mainColor;
        transform: rotate(90deg);
        transition: transform 0.4s;

        &.rub {
          width: 10px;
          height: 12px;
          fill: #212121;
          transform: rotate(0);
        }
      }
    }

    &Content {
      display: none;
      padding-top: 15px;

      &.active {
        display: block;
      }

      &--price {
        .formField {
          justify-content: flex-start;
          width: 50%;

          &:nth-of-type(2) {
            padding-left: 10px;
          }

          input {
            margin-left: 10px;
            width: 100px;
          }
        }

        .formFieldRange {
          width: 100%;
        }

        .flexWrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        &.active {
          display: flex;
        }
      }
    }

    &.active {
      .popUpForm__itemHeader {
        svg {
          transform: rotate(-90deg);
          transition: transform 0.4s;

          &.rub {
            transform: rotate(0);
          }
        }
      }
    }
  }

  .popUpForm__footer {
    .resetBtn {
      border: none;
      font-family: $notoSansBold;
      font-size: 14px;
      line-height: 60px;
      color: $mainColor;
      background-color: transparent;
    }
  }
}

.categorySelect {
  margin-right: -10px;
  margin-left: -10px;
  width: auto;

  &__selected,
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 28px;
    padding-right: 55px;
    width: 100%;
    height: 55px;
    background-color: #e9eff4;

    .iconCategory {
      display: inline-block;
      vertical-align: middle;
      margin-right: 18px;
      width: 15px;
      height: 26px;
      fill: #c3ceda;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      padding: 15px 0;
      font-family: $notoSansBold;
      font-size: 14px;
      font-weight: 700;
      color: #212121;
    }

    &Arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      right: 0;
      top: 0;
      width: 55px;
      height: 55px;
      background-color: #eb2936;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 18px 18px;
        border-color: transparent transparent #c62431 transparent;
        transition: border-width 0.3s;
      }

      svg {
        z-index: 1;
        width: 13px;
        height: 18px;
        fill: #fff;
        transform: rotate(90deg);
        transition: transform 0.3s;
      }
    }

    &.open {
      .categorySelect__selectedArrow {
        &::after {
          border-width: 0 0 180px 180px;
          transition: border-width 0.3s;
        }
        svg {
          transform: rotate(-90deg);
          transition: transform 0.3s;
        }
      }
    }
  }

  &__list {
    position: absolute;
    left: -10px;
    top: 60px;
    z-index: 1;
    display: none;
    width: 100vw;
    opacity: 0;

    &.open {
      display: block;
      opacity: 1;
    }
  }

  &__item {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .listItems {
    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .allCategoryBtn {
      position: relative;
      border: none;
      padding: 17px 40px;
      width: 210px;
      text-align: center;
      color: #b59c00;
      background-image: linear-gradient(3deg, #f2d512 0%, #f6e584 100%);
      transition: all 0.4s;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-style: solid;
        border-width: 27.5px 0 27.5px 33px;
        border-color: transparent transparent transparent #efcf00;
        width: 0;
        height: 0;
        transition: border-width 0.4s;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        border-style: solid;
        border-width: 27.5px 33px 27.5px 0;
        border-color: transparent #efcf00 transparent transparent;
        width: 0;
        height: 0;
        transition: border-width 0.4s;
      }

      &:active,
      &:focus {
        background-image: none;
        background-color: #efce00;
      }

      &:hover {
        background-image: linear-gradient(3deg, #f6e584 0%, #f6e584 100%);
        transition: all 0.4s;

        &::before {
          border-width: 27.5px 0 27.5px 15px;
          transition: border-width 0.4s;
        }

        &::after {
          border-width: 27.5px 15px 27.5px 0;
          transition: border-width 0.4s;
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 23px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px;
      width: 100%;
    }

    &__sort {
      > span {
        vertical-align: top;
        margin-right: 15px;
        margin-bottom: 0;
        padding-top: 10px;
      }
    }

    &__headerMobile {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 5px;
      padding-right: 40px;
      padding-bottom: 20px;

      &::after {
        content: "";
        position: absolute;
        left: 40px;
        bottom: 0;
        margin: 0 auto;
        width: 89%;
        height: 2px;
        background-color: #e9eff4;
      }
    }

    &__headerMobileButtons {
      padding: 0;
      padding-left: 10px;
      width: 375px;

      &::after {
        display: none;
      }

      .categoryFilterBtn__icon {
        transform: translateY(-7px);
      }

      .categoryFilterBtn span {
        font-size: 16px;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      padding-right: 10px;
      padding-left: 10px;

      .productItem {
        margin-right: 4px;
        margin-bottom: 8px;
        margin-left: 0;

        &__params {
          padding-left: 20px;
        }

        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }

    ul.pagination {
      margin-top: 11px;
      margin-bottom: 31px;
    }
  }

  .categorySelect {
    margin: 0;

    &__selected {
      margin-top: 0;
      padding-left: 40px;
      width: 323px;
    }

    &__list {
      left: 0;
      width: 323px;
    }

    &__item {
      padding-left: 40px;
    }
  }

  .listItemsPopup {
    &.popUpForm {
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 750px;
      height: auto;
      overflow: auto;
      transform: translate(-50%, -50%);
    }

    .popUpForm__item {
      max-width: 280px;
    }

    .popUpForm__title {
      width: 100%;
    }

    .popUpForm__listItems {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      max-height: 595px;
      width: 100%;
    }

    .popUpForm__container {
      padding-left: 40px;
      padding-right: 88px;

      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .popUpForm__footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .resetBtn {
        line-height: 20px;
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .listItems {
    .container {
      margin: 0 auto;
    }
  }
}

@media (min-width: 1280px) {
  .listItems {
    &__container {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__headerMobile {
      display: none;
    }

    &__sidebar {
      display: flex;
      flex-direction: column;
      padding-top: 13px;
      width: 323px;

      .formField .checkbox {
        padding-left: 37px;

        &__button {
          left: 5px;
        }
      }

      .formField--checkbox {
        margin-bottom: 10px;
      }
    }

    &__sidebarFilter {
      .popUpForm__title {
        text-align: center;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 15px;
      }
    }

    &__header {
      padding-top: 15px;
      padding-right: 24px;
      padding-left: 0;
    }

    &__sort {
      > span {
        margin-right: 10px;
      }

      .options li {
        margin-bottom: 0;
      }
    }

    &__list {
      padding-left: 40px;
      width: 820px;

      .productItem {
        margin-right: 14px;
        margin-bottom: 18px;

        &__number {
          margin-bottom: 14px;
        }

        &__param {
          margin-bottom: 5px;
        }

        &__footer {
          .button {
            top: 7px;
          }
        }
      }
    }

    ul.pagination {
      justify-content: flex-end;
      margin-top: 2px;
      margin-bottom: 40px;
      padding-right: 265px;
    }

    .allCategoryBtn {
      width: 100%;
    }

    .popUpForm__itemHeader {
      cursor: pointer;
    }

    .popUpForm__itemName {
      font-size: 14px;
    }

    .popUpForm__listItems {
      padding-right: 15px;
      padding-left: 30px;
      max-height: 100%;

      &Title {
        padding-top: 26px;
        padding-bottom: 5px;
        width: 100%;
        font-family: $notoSansBold;
        font-size: 18px;
        text-align: center;
        color: #212121;
      }
    }

    .popUpForm__footer {
      padding-top: 30px;
    }

    .formFieldRange {
      padding-top: 5px;

      .irs-grid {
        bottom: 6px;
      }

      .irs-slider.from,
      .irs-slider.to {
        top: -4px;
        width: 28px;
        height: 28px;
        font-size: 12px;
        text-transform: lowercase;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -7px;
          border-style: solid;
          border-width: 7px 14px 0 14px;
          border-color: #c62431 transparent transparent transparent;
          width: 0;
          height: 0;
        }
      }
    }

    .categorySelect__list {
      position: relative;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      opacity: 1;

      li {
        margin-bottom: 0;
        padding-left: 0;

        &::before {
          display: none;
        }

        > ul {
          display: none;
          margin: 0;
          padding-top: 18px;
          padding-bottom: 8px;
          padding-left: 85px;

          li {
            margin-bottom: 13px;
            line-height: 15px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          a {
            border: none;
            font-size: 13px;
            line-height: 15px;
            color: #212121;
            transition: color 0.3s;

            &:hover {
              color: #b59c00;
              transition: color 0.3s;
            }
          }

          &.open {
            display: block;
          }
        }

        &.categorySelect__listItem {
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 20px;
          }
        }
      }
    }

    .categorySelect__selectedArrow {
      transition: background-color 0.4s;
    }

    .categorySelect__item {
      border: none;
      padding-left: 30px;
      height: 50px;
      transition: background-color 0.4s;

      .iconCategory {
        margin-right: 35px;
        transition: fill 0.4s;
      }

      .categorySelect__selectedArrow {
        width: 50px;
        height: 50px;
      }

      &:hover,
      &.open {
        background-color: $mainColor;
        transition: background-color 0.4s;

        span {
          color: #fff;
          transition: color 0.4s;
        }

        .iconCategory {
          fill: #ffd3d6;
          transition: fill 0.4s;
        }

        .categorySelect__selectedArrow {
          background-color: #c62431;
          transition: background-color 0.4s;
        }
      }
    }
  }

  .categorySelect {
    display: none;
  }
}
