@import "variables";
@import "functions";
@import "mixins";

.onceSlider {
  overflow: hidden;
  padding-top: 15px;
  width: 100%;
  max-height: 310px;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s all;

  &.visible {
    opacity: 1;
    transform: scale(1);
  }

  &__item {
    position: relative;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: 216px;
  }

  &__text {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 23px;
    width: 178px;
    height: 108px;
    background-color: #c3ceda;

    p {
      overflow: hidden;
      max-height: 65px;
      font-family: $notoSansBold;
      font-size: 17px;
      line-height: 21.86px;
      color: #212121;
    }
  }

  .moreBtn {
    display: block;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 180px;
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 55px;

    li {
      margin: 0;
      margin-right: 7px;
      padding-left: 0;
      width: 15px;
      height: 15px;

      &::before {
        display: none;
      }

      &:last-of-type {
        margin-right: 0;
      }

      button {
        padding: 0;
        width: 15px;
        height: 15px;
        background-color: #fff;

        &::before {
          content: "";
          position: absolute;
          left: 2px;
          top: 2px;
          display: block;
          border-style: solid;
          border-width: 11px 0 0 0;
          border-color: transparent transparent transparent transparent;
          width: 0;
          height: 0;
          transition: border-width 0.4s, border-color 0.4s;
        }
      }

      &.slick-active button {
        &::before {
          content: "";
          position: absolute;
          left: 2px;
          top: 2px;
          display: block;
          border-style: solid;
          border-width: 11px 0 0 11px;
          border-color: transparent transparent transparent $mainColor;
          width: 0;
          height: 0;
          transition: border-width 0.4s, border-color 0.4s;
        }
      }
    }
  }

  .slick-arrow {
    bottom: 10px;
    transform: none;
  }

  .slick-prev {
    left: 10px;
    top: auto;
  }

  .slick-next {
    right: 10px;
    top: auto;
  }
}

@media (min-width: 768px) {
  .onceSlider {
    max-height: 406px;

    &__image {
      margin-bottom: 8px;
      height: 373 / 768 * 100vmin;
    }
  }
}

@media (min-width: 1280px) {
  .onceSlider {
    max-height: 350px;

    &__image {
      margin-bottom: 8px;
      height: 373 / 768 * 100vmin;
    }

    .moreBtn {
      &:hover {
        background-color: #eb2936;

        &::after {
          border-width: 0 0 260px 260px;
          transition: border-width 0.4s;
        }
      }
    }
  }
}
