@import "variables";
@import "functions";
@import "mixins";

.oneItem {
  .container {
    overflow: hidden;
  }

  .scrollLink {
    margin-top: 0;
  }

  .categorySelect {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .categorySelect__selected,
  .categorySelect__item {
    padding-left: 19px;
    height: 50px;
  }

  .categorySelect__selectedArrow,
  .categorySelect__itemArrow {
    width: 50px;
    height: 50px;
  }

  .categorySelect__list {
    left: 18px;
    top: 55px;
    width: calc(100vw - 75px);
  }

  .categorySelect__selectedCategory {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .listItems__headerMobile {
    padding-right: 18px;
    padding-left: 18px;
  }

  .listItems__headerMobileButtons {
    margin-top: 10px;
    padding: 0;
    width: 100%;

    &::after {
      display: none;
    }

    .sendBtn {
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      text-align: center;

      &::before {
        border-width: 25px 0 25px 33px;
      }

      &::after {
        border-width: 25px 33px 25px 0;
      }
    }
  }

  &__title {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;

    h1 {
      margin-bottom: 12px;
      line-height: 38px;
    }
  }

  &__totalPopup {
    font-family: $notoSansBold;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;

    span {
      display: inline-block;
      line-height: 14px;

      &:last-of-type {
        font-size: 20px;
        line-height: 18px;
        margin-left: 5px;
        color: $mainColor;
      }

      .rub {
        padding-top: 2px;
        width: 14px;
        height: 16px;
        fill: $mainColor;
      }
    }
  }

  &__itemSlider {
    position: relative;
    border: 8px solid #f0f5f8;
    padding-top: 35px;
    padding-bottom: 25px;
  }

  &__itemSliderAction {
    position: absolute;
    left: 50%;
    top: -8px;
    width: 133px;
    height: 36px;
    text-align: center;
    background: url("../images/action_bg.png") 0 0 no-repeat;
    transform: translateX(-50%);

    span {
      font-family: $notoSansBold;
      font-size: 12px;
      line-height: 36px;
      color: #b59c00;
    }
  }

  &__itemSliderBorderTop {
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 8px;
    background-color: #e2e8ec;

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 0;
      border-style: solid;
      border-width: 0 8px 8px 0;
      border-color: transparent #e2e8ec transparent transparent;
      width: 0;
      height: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: -8px;
      top: 0;
      border-style: solid;
      border-width: 8px 8px 0 0;
      border-color: #e2e8ec transparent transparent transparent;
      width: 0;
      height: 0;
    }
  }

  &__itemSliderBorderBottom {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background-color: #e2e8ec;

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 0;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-color: transparent transparent #e2e8ec transparent;
      width: 0;
      height: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: -8px;
      top: 0;
      border-style: solid;
      border-width: 8px 0 0 8px;
      border-color: transparent transparent transparent #e2e8ec;
      width: 0;
      height: 0;
    }
  }

  &__itemSliderBig {
    margin-bottom: 35px;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s all;

    .oneItem__itemSlide {
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: none;
      width: 230px !important;
      height: 230px;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &.visible {
      opacity: 1;
      transform: scale(1);
      transition: 0.3s all;
    }
  }

  &__itemSliderSmall {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding-top: 7px;
    padding-right: 35px;
    padding-bottom: 7px;
    padding-left: 35px;
    width: 200px;
    background-color: #f0f5f8;
    opacity: 0;
    transform: scale(0) translate(-50%, 57%);
    transition: 0.3s all;

    &::before {
      content: "";
      position: absolute;
      left: -32px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 27.5px 32px 27.5px 0;
      border-color: transparent #e2e8ec transparent transparent;
    }

    &::after {
      content: "";
      position: absolute;
      right: -32px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 27.5px 0 27.5px 32px;
      border-color: transparent transparent transparent #e2e8ec;
    }

    .oneItem__itemSlide {
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: solid 1px transparent;
      padding: 5px;
      width: 40px !important;
      height: 40px;
      background-color: #fff;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slick-current .oneItem__itemSlide {
      border: solid 1px #e2e8ec;
    }

    .slick-arrow {
      background: transparent;
      width: 30px;

      svg {
        fill: #cad2d8;
      }

      &:hover {
        background: transparent;

        svg {
          fill: darken(#cad2d8, 10%);
        }
      }

      &:active {
        background: transparent;

        svg {
          fill: darken(#cad2d8, 10%);
        }
      }

      &:focus {
        background: transparent;

        svg {
          fill: darken(#cad2d8, 10%);
        }
      }
    }

    .slick-prev {
      left: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    .slick-next {
      right: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &.visible {
      opacity: 1;
      transform: scale(1) translate(-50%, 57%);
      transition: 0.3s all;
    }
  }

  &__sidebar,
  &__content {
    width: 100%;
  }

  &__itemParams {
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__itemParamsRow {
    padding-top: 7px;
    padding-bottom: 8px;
    display: flex;
    border-bottom: 2px solid #edf3f7;

    span {
      display: inline-block;
      font-size: 14px;
      line-height: 1.5;
      color: #a3acb6;

      &:first-of-type {
        width: 73.5%;
        padding-right: 10px;
      }

      &:last-of-type {
        font-family: $notoSansBold;
        color: #212121;
      }
    }

    .productItem__paramIc {
      width: 20px;
      height: 20px;
    }
  }

  &__itemReadMore {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    svg {
      margin-left: 0;
      height: 12px;
    }

    &--withTP {
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 18px;
    }
  }

  &__table {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;

    .formField {
      display: block;
      height: 20px;
      width: 20px;
    }

    &.table {
      table {
        width: 100%;
        display: flex;
  
        thead {
          width: 55%;
          height: auto;
  
          th {
            width: 100%;
            justify-content: flex-start;
            padding-left: 18px;
            height: 62px;
            border-bottom: 2px solid #e9eff4;
            border-right: 2px solid #e9eff4;

            &:last-of-type {
              border: none;
              border-bottom: none;
              height: 55px;
              font-family: $notoSansBold;
              color: #3f3f3f;
              background-color: #fff;
            }

            &:nth-last-of-type(2) {
              background-color: #ffffff;
              border-right: none;
              border: none;
              font-family: $notoSansBold;
              color: #3f3f3f;
              align-items: flex-end;
              padding-bottom: 10px;
            }

            &:nth-last-of-type(3) {
              border-bottom: 2px solid transparent;
            }
          }
        }
  
        tbody {
          width: 45%;
  
          td {
            width: 100%;
            height: 62px;
            border-right: none;
            border-right: 2px solid #e9eff4;
            border-bottom: 2px solid #e9eff4;

            &:first-of-type {
              color: #c3ceda;
            }

            &:nth-last-of-type(2) {
              background-color: #ffffff;
              border-right: none;
              border-bottom: none;
              align-items: flex-end;
            }

            &:last-of-type {
              border-right: none;
              border-bottom: none;
              height: 55px;
              font-family: $notoSansBold;
              font-size: 20px;
              color: $mainColor;
              background-color: #fff;

              .rub {
                fill: $mainColor;
                height: 12px;
                width: 10px;
                margin-top: 3px;
              }
            }

            &.price {
              font-family: $notoSansBold;
              color: $mainColor;

              svg {
                height: 10px;
                width: 8px;
                fill: $mainColor;
                margin-top: 1px;
                margin-left: 3px;
              }
            }
          }
        }
  
        tr {
          display: flex;
          flex-direction: column;
          height: auto;
          border: none;
        }
      }
    }

    .quantity {
      position: relative;
  
      input {
        font-family: $notoSans;
        font-size: 14px;
        text-align: center;
        color: #212121;
        width: 84px;
        height: 40px;
        border: solid 2px #e9eff4;
      }
    }

    .quantity-button {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 14px;
      transform: translateY(-50%);

      svg {
        width: 10px;
        height: 14px;
        fill: $mainColor;
      }
    }

    .quantity-up {
      right: 12px;
    }

    .quantity-down {
      left: 12px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__tableBuy.moreBtn {
    display: block;
    margin: 0 auto;
    max-width: 224px;
    font-size: 14px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      bottom: auto;
      border-style: solid;
      border-width: 16px 16px 0 0;
      border-color: #c62431 transparent transparent transparent;
      width: 0;
    }
  }

  &__tableTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 15px;

    span {
      display: inline-block;
      font-family: $notoSansBold;
      width: 55%;
      text-transform: uppercase;
      font-size: 14px;
      color: #212121;

      &:last-of-type {
        padding-right: 10px;
        width: 45%;
        font-size: 20px;
        text-align: right;
        color: $mainColor;
      
        svg {
          fill: $mainColor;
        }
      }
    }
  }

  &__seriesPrice {
    > span {
      font-size: 20px;
      color: $mainColor;
      font-family: $notoSansBold;
      display: flex;
      align-items: center;
      margin-right: 5px;
      width: 100%;
    }

    h5 {
      margin-top: 0;
      margin-bottom: 8px;
    }

    .rub {
      padding-top: 2px;
      margin-left: 2px;
      fill: $mainColor;
    }

    .moreBtn {
      margin:  18px 0;
      max-width: 132px;
      font-size: 14px;
    }

    .productItem__param {
      color: #212121;
      font-size: 14px;
      margin-left: 3px;
      
      span {
        white-space: pre-line;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
      }
    }

    .productItem__paramIc {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 0;
      transform: translateX(10px);

      &:nth-of-type(2) {
        left: -10px;
      }

      &:nth-of-type(3) {
        left: -20px;
      }
    }
  }

  &--withTP {
    .table {
      table {
        margin-bottom: 20px;
        thead {
          th {
            &:nth-last-of-type(2) {
              align-items: center;
              padding-bottom: 0;
            }
          }
        }
        tbody {
          td {
            &:nth-last-of-type(2) {
              align-items: center;
            }

            .checkbox__button {
              width: 32px;
              height: 32px;

              svg {
                width: 25px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.oneItem__custom {
  padding-top: 40px;
  width: 100%;
}

.oneItem__customRight,
.oneItem__customLeft {
  width: 100%;
}

.oneItem__customLeft {
  padding-bottom: 17px;

  .oneItem__customCol {
    padding: 0 10px;
    width: 40%;

    &:last-of-type {
      padding-left: 15px;
      width: 60%;
    }

    .productItem__param {
      margin-bottom: 27px;
    }

    .productItem__paramIc {
      width: 20px;
      height: 20px;
    }
  }

  .oneItem__customHeader {
    margin-bottom: 23px;
  }
}

.oneItem__customHeader {
  display: flex;
  height: 50px;
  background-color: #e9eff4;

  span {
    display: inline-block;
    width: 100%;
    font-family: $notoSansBold;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #212121;
  }
}

.oneItem__customRight {
  .oneItem__customRow {
    padding-left: 2px;
    padding-right: 2px;
  }
  .oneItem__customCol {
    width: 33.33%;
  }

  .slick-current {
    .oneItem__customChoisePreview {
      border-left: solid 1px #e9eff4;
    }
  }

  .slick-arrow {
    opacity: 1;
    visibility: visible;
    height: 25px;
    width: 25px;
    top: 92px;
  }

  .slick-next {
    right: -10px;

    &::after {
      left: -7px;
      border-width: 12.5px 7px 12.5px 0;
    }
  }

  .slick-prev {
    left: -10px;

    &::after {
      right: -7px;
      border-width: 12.5px 0 12.5px 7px;
    }
  }

  .slick-disabled {
    opacity: 0;
    visibility: hidden;
  }

  .oneItem__customHeader {
    height: 40px;
    margin-bottom: 10px;

    span {
      font-size: 12px;
      line-height: 40px;
      color: #8398a9;
    }
  }
}

.oneItem__customRow {
  display: flex;
  width: 100%;

  .quantity {
    border: solid 2px #e9eff4;
    width: 94px;
    height: 40px;

    input {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .quantity-button {
    width: 13px;
    height: 15px;
  }

  .quantity-button svg {
    width: 13px;
    height: 15px;
    fill: #eb2936;
  }
}

.oneItem__customCol {
  position: relative;
}

.oneItem__customPic {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #e9eff4;
  padding: 10px;
  width: 90px;
  height: 90px;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.oneItem__customName {
  margin-bottom: 5px;
  h6 {
    margin: 0;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 1;
  }

  p {
    margin-bottom: 5px;
    font-size: 12px;
    color: #c3ceda;
  }
}

.oneItem__customPrice {
  .quantity {
    margin-top: 10px;
  }

  span {
    display: block;
    font-family: $notoSansBold;

    &:first-of-type {
      font-size: 12px;
      color: #212121;
      margin-bottom: 5px;
    }

    &:last-of-type {
      font-size: 14px;
      color: $mainColor;
    }

    .rub {
      width: 10px;
      height: 10px;
      fill: $mainColor;
    }
  }
}

.oneItem__customChoise {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.oneItem__customChoisePreview {
  position: relative;
  width: 100%;
  padding-top: 10px;
  height: 89px;
  border: none;
  border: solid 1px #e9eff4;
  border-left: none;

  &:active,
  &:focus,
  &:hover {
    border-color: #e9eff4;
  }

  &.open {
    padding-top: 0;
    margin-bottom: 10px;

    .oneItem__edit,
    .oneItem__close {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.4s;
    }

    .oneItem__customChoisePic {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}

.oneItem__customChoisePic {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
  text-align: center;

  img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.oneItem__customChoiseSelect {
  border: none;
  font-family: $notoSansBold;
  font-size: 12px;
  color: $mainColor;
  opacity: 1;
  transition: opacity 0.25s;

  &.hide {
    opacity: 0;
    transition: opacity 0.25s;
  }
}

.oneItem__customFooter {
  .moreBtn {
    display: block;
    margin: 0 auto;
  }
}

.oneItem__customTotal {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edf3f7;
  padding-left: 15px;
  padding-right: 10px;
  margin: 20px auto;

  span {
    display: inline-block;
    font-family: $notoSansBold;
    text-transform: uppercase;
    font-size: 12px;
    color: #3f3f3f;

    &:last-of-type {
      font-size: 20px;
      color: $mainColor;
    }

    .rub {
      width: 10px;
      fill: $mainColor;
    }
  }
}

.oneItem__customTooltip {
  display: none;

  .oneItem__customName h6 {
    overflow: hidden;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
    width: 94px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.oneItem__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(45deg, #f2d512, #f6e584);
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.4s;

  svg {
    width: 14px;
    height: 14px;
    fill: #b59c00;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    border-style: solid;
    border-width: 10px 5px 10px 0;
    border-color: transparent #efcf00 transparent transparent;
    height: 0;
    width: 0;
  }
}

.oneItem__close {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: $mainColor;
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.4s;

  svg {
    width: 8px;
    height: 8px;
    fill: #ffd3d6;
  }
}

.oneItem__params {
  margin-right: -10px;
  margin-left: -10px;
  padding-top: 40px !important;

  .tabBlock__tabs {
    width: auto;
  }

  .jspVerticalBar,
  .jspHorizontalBar {
    display: none;
  }
}

.oneItem .oneItem__paramsList {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;

  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 2px solid #edf3f7;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;

    &::before {
      display: none;
    }

    span {
      display: inline-block;
      width: 65%;

      &:last-of-type {
        width: 35%;
        font-family: $notoSansBold;
        color: #212121;
      }
    }
  }

  .productItem__paramIc {
    display: inline-block;
    width: 20px;
    height: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.similarProducts {
  &__title {
    padding-left: 5px;

    h2 {
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  .severalSlider .slick-prev {
    left: -15px;
  }

  .severalSlider .slick-next {
    right: -15px;
  }
}

.viewedProducts {
  &__title {
    padding-left: 5px;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  .severalSlider .slick-prev {
    left: -15px;
  }

  .severalSlider .slick-next {
    right: -15px;
  }
}

@media (min-width: 768px) {
  .oneItem .categorySelect__list {
    left: 40px;
    top: 55px;
    width: calc(100vw - 100px);
  }
  .oneItem {
    &__content {
      padding-right: 40px;
      padding-left: 40px;
    }

    &__item {
      display: flex;
    }

    &__title {
      padding-top: 5px;
      padding-right: 0;
      padding-bottom: 7px;
      padding-left: 0;

      h1 {
        text-transform: uppercase;
      }
    }

    &__itemSlider {
      width: 323px;
      height: 340px;
    }

    &__itemParams {
      padding-top: 0;
      padding-left: 20px;
      width: 343px;

      h5 {
        margin-top: 0;
        line-height: 1;
      }
    }

    &__itemReadMore {
      padding-left: 0;
    }

    &__table {
      margin-bottom: 15px;
      padding-right: 0;
      padding-left: 0;

      &.table {
        table {
          flex-direction: column;

          thead {
            width: 100%;

            th {
              justify-content: center;
              padding-left: 0;
              text-align: center;
              width: 14.86%;

              &:nth-of-type(2) {
                width: 21.021%;
              }
              &:nth-of-type(3) {
                width: 15.015%;
              }

              &:nth-last-of-type(3) {
                border-right: 2px solid $mainColor;
                border-bottom: 2px solid #e9eff4;
                width: 16.216%;
              }

              &:nth-last-of-type(2) {
                align-items: center;
                padding-bottom: 0;
                width: 18.618%;
              }

              &:first-of-type {
                border-left: 2px solid $mainColor;
              }

              &:last-of-type {
                height: 62px;
                width: 15.615%;
              }
            }
          }

          tbody {
            width: 100%;

            td {
              &:first-of-type {
                width: 14.86%;
                border-left: 2px solid #e9eff4;
              }
              
              &:nth-of-type(2) {
                width: 21.021%;
              }
              
              &:nth-of-type(3) {
                width: 15.015%;
              }

              &:nth-last-of-type(2) {
                align-items: center;
                width: 18.618%;
              }

              &:nth-last-of-type(3) {
                width: 16.216%;
              }

              &:last-of-type {
                height: 62px;
                width: 15.615%;
              }
            }
          }

          tr {
            flex-direction: row;
          }
        }
      }
    }

    &__tableBuy.moreBtn {
      margin: 0;
      margin-left: auto;
      max-width: 203px;
    }

    &__custom {
      display: flex;
      flex-wrap: wrap;
      padding-top: 33px;
    }

    &__customChoisePreview {
      margin-left: 10px;
      border-left: solid 1px #e9eff4;
      width: 89px;
    }

    &__customTooltip {
      margin-left: 10px;
    }

    &__customLeft {
      width: 40%;

      .oneItem__customCol {
        padding-left: 0;

        &:last-of-type {
          padding-left: 0;
          padding-top: 10px;
        }
      }
    }

    &__customRight {
      width: 60%;

      .oneItem__customHeader {
        margin-bottom: 23px;
        height: 50px;

        span {
          line-height: 50px;
        }
      }

      .oneItem__customRow {
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;
      }

      .oneItem__customChoise {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    &__customFooter {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .oneItem__customTotal {
        justify-content: center;
        margin: 0;
        padding: 0;
        padding-left: 40px;
        width: 438px;

        span {
          font-size: 14px;

          .rub {
            padding-top: 3px;
          }

          &:last-of-type {
            margin-left: 11px;
            font-size: 20px;
          }
        }
      }

      .moreBtn {
        margin: 0;
        width: 202px;
      }
    }

    &__params {
      margin-right: 0;
      margin-left: 0;
    }

    .oneItem__paramsList {
      padding-right: 0;
      padding-left: 0;
      width: 48.5%;

      li span:first-of-type {
        width: 55%;
      }

      li span:last-of-type {
        width: 45%;
      }
    }

    .oneItem__itemParamsRow span:first-of-type {
      width: 61.5%;
    }

    .listItems__headerMobile {
      padding-right: 20px;
      padding-left: 40px;
    }

    .listItems__headerMobileButtons {
      margin-top: 0;

      .sendBtn {
        max-width: 323px;
      }
    }

    .categorySelect__selected,
    .categorySelect__item {
      padding-left: 33px;
    }

    .categorySelect__selected .iconCategory,
    .categorySelect__item .iconCategory {
      margin-right: 33px;
    }

    .similarProducts {
      padding-bottom: 10px;
    }

    .similarProducts,
    .viewedProducts {
      margin-right: -40px;
      margin-left: -40px;

      &__title {
        padding-left: 40px;
      }

      .slick-slide {
        width: 240px;
      }

      .productItem {
        width: 240px;
        max-width: 240px;
      }

      .severalSlider {
        padding-right: 0;
        padding-left: 0;

        .slick-arrow {
          top: 46%;
          width: 40px;
          background-image: linear-gradient(45deg, #f2d512 0%, #f6e584 100%);

          svg {
            fill: #b59c00;
          }
        }

        .slick-prev {
          left: 5px;

          &::after {
            display: block;
          }
        }

        .slick-next {
          right: 4px;

          &::after {
            display: block;
          }
        }
      }
    }

    .productItem__footer .button {
      top: 10px;
      width: 76px;
      font-size: 14px;
    }
  }

  .oneItem__seriesPrice {
    position: relative;
    padding-top: 15px;

    h5 {
      float: left;
      margin-bottom: 15px;
    }

    span {
      float: left;
    }

    .moreBtn {
      position: absolute;
      right: -10px;
      top: 25px;
      float: left;
      max-width: 132px;
    }

    &::after {
      clear: both;
      content: '';
      width: 100px;
      display: table;
    }
  }

  .oneItem__item {
    margin-bottom: 50px;
  }

  .oneItem__formFooter {
    display: flex;
    align-items: center;
  }

  .oneItem__tableTotal {
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
    padding-right: 35px;
    width: 70%;

    span {
      width: auto;

      &:last-of-type {
        width: auto;
        padding-left: 40px;
      }
    }
  }

  .oneItem__custom {
    &:not(:first-of-type) {
      border-top: 2px solid #edf3f7;
      padding-top: 20px;

      .oneItem__customHeader {
        display: none;
      }
    }
  }

  .oneItem--withTP {
    .table {
      table {
        margin-bottom: 0;

        &:not(:first-of-type) {
          thead {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .oneItem {
    &__container {
      padding-bottom: 40px;
      display: flex;
    }

    &__sidebar {
      width: 323px;
    }

    &__content {
      padding-top: 15px;
      width: 820px;
    }

    &__item {
      margin-bottom: 35px;
    }

    &__itemSlider {
      padding-top: 50px;
      width: 400px;
      height: 400px;
    }

    &__itemParams {
      padding-left: 25px;
    }

    &__itemParamsRow span {
      &:first-of-type {
        width: 55%;
      }

      &:last-of-type {
        width: 44%;
      }
    }

    &__itemReadMore {
      margin-top: 20px;
    }

    &__customFooter {
      .oneItem__customTotal {
        width: 450px;
      }

      .moreBtn {
        width: 280px;
        max-width: 100%;
        font-size: 14px;
      }
    }

    &__params {
      padding-top: 50px !important;
    }

    .oneItem__paramsList {
      width: 46%;
    }

    .oneItem__paramsList li span {
      &:first-of-type {
        width: 58%;
      }
      &:last-of-type {
        width: 42%;
      }
    }

    .oneItem__itemSliderBig .oneItem__itemSlide {
      width: 278px !important;
      height: 278px;
    }

    .categorySelect__list {
      left: 0;
      top: 0;
      width: 100%;
    }

    .tabBlock__content {
      padding-left: 25px;
      padding-right: 45px;
    }

    .similarProducts {
      padding-bottom: 0;
    }

    .similarProducts,
    .viewedProducts {
      margin-left: 0;
      margin-right: 0;

      &__title {
        padding-left: 25px;

        h2 {
          margin-top: 40px;
        }
      }
      .severalSlider {
        .slick-prev {
          left: 0;
        }

        .slick-next {
          right: 0;
        }
        
        .slick-arrow {
          top: 50%;
        }
      }

      .slick-slide {
        margin-right: 10px;
      }
    }

    .viewedProducts {
      &__title {
        h2 {
          margin-top: 25px;
        }
      }
    }
  }

  .oneItem--withTP {
    .oneItem__itemReadMore {
      margin-top: 10px;
      padding-left: 0;
    }

    .oneItem__content {
      padding-left: 30px;
      padding-right: 80px;
    }

    .oneItem__tableBuy.moreBtn {
      max-width: 165px;
    }

    .similarProducts,
    .viewedProducts {
      margin-right: -30px;
    }
  }

  .oneItem__seriesPrice .moreBtn {
    position: relative;
    right: auto;
    top: auto;
    max-width: 162px;
    margin-top: 30px;
  }

}

