@import "variables";
@import "functions";
@import "mixins";

.popUpForm {
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 464px;
  box-shadow: 0 0 20px rgba(208, 215, 223, 0.25);
  background-color: #fff;
  transform: translate(-50%, -50%);

  &__footer {
    padding-top: 5px;

    .formField {
      align-items: flex-start;
      flex-direction: column;
    }

    .checkbox {
      margin-bottom: 15px;
    }

    .sendBtn {
      width: 100%;
    }
  }

  &__container {
    padding-top: 36px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  &__title {
    margin-top: 0;
  }

  &__field {
    justify-content: space-between;
    margin-bottom: 20px;

    input,
    textarea {
      max-width: 185px;
    }

    &--textarea {
      .popUpForm__fieldTitle {
        padding-top: 15px;
      }

      &.formField {
        align-items: flex-start;
      }
    }

    &.formField {
      .checkbox__text {
        margin-top: -3px;
        font-size: 12px;
      }
    }
  }

  &__required {
    color: $mainColor;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    width: 35px;
    height: 35px;
    background-color: $mainColor;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-style: solid;
      border-width: 11px 0 0 11px;
      border-color: transparent transparent transparent #c62431;
      width: 0;
      height: 0;
      transition: all 0.5s;
    }

    svg {
      z-index: 1;
      width: 15px;
      height: 15px;
      fill: #FFD3D6;
    }

    &:hover {
      border: none;

      &::after {
        bottom: -1px;
        border-width: 70px 0 0 70px;
        transition: all 0.5s;
      }
    }
  }

  .formField__customAdd {
    width: 100%;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;

    span {
      font-family: $notoSansBold;
      display: inline-block;
      font-size: 20px;
      color: #efce00;
    }
  }

  .formField__customContent {
    width: 100%;
    padding-left: 45px;
    padding-right: 15px;

    .oneItem__customName {
      margin-bottom: 10px;

      h6 {
        overflow: hidden;
        width: 205px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .oneItem__customPrice {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .quantity {
        margin-top: 0;
      }
    }
  }
}

.popUpFormBuy {
  .popUpForm__title {
    margin-bottom: 10px;
  }

  .popUpForm__subtitle {
    display: inline-block;
    margin-bottom: 20px;
    font-family: $notoSans;
    font-size: 12px;
    color: #c3ceda;
  }

  .popUpForm__left {
    .formField {
      border-bottom: 2px solid #edf3f7;
      padding-bottom: 20px;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .productItem__param {
      &Ic {
        width: 23px;
        height: 23px;
      }

      &Size {
        font-size: 17px;
      }

      &Price {
        max-width: 75px;
        max-height: 20px;
        font-size: 20px;

        .rub {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .popUpForm__right {
    .formField {
      input,
      textarea {
        max-width: 170px;
      }
    }
  }
}

@media (min-width: 768px) {
  .popUpForm {
    &__container {
      padding-top: 36px;
      padding-right: 44px;
      padding-bottom: 30px;
      padding-left: 36px;
    }

    &__field {
      input,
      textarea {
        max-width: 274px;
      }
    }

    &__footer {
      .formField {
        align-items: flex-start;
        flex-direction: row;
      }

      .sendBtn {
        width: auto;
      }
    }
  }
}

@media (min-width: 1280px) {
  .popUpFormBuy {
    &.popUpForm {
      max-width: 750px;
    }
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .popUpForm__title {
      width: 100%;
    }

    .popUpForm__subtitle {
      width: 100%;
    }

    .popUpForm__left {
      width: 260px;

      .formField {
        flex-direction: column;

        .checkbox {
          margin-bottom: 10px;
          width: 100%;
          padding-left: 50px;
        }

        .quantity {
          width: 94px;
        }
      }
    }

    .popUpForm__right {
      padding-left: 10px;
      width: 400px;

      .formField {
        input,
        textarea {
          max-width: 274px;
        }
      }

      .popUpForm__footer {
        padding-top: 25px;
      }
    }
  }
}
