@import "variables";
@import "functions";
@import "mixins";

.productItem {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 8px solid #f0f5f8;
  padding-top: 37px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 260px;

  &__action {
    position: absolute;
    left: 50%;
    top: -8px;
    width: 133px;
    height: 36px;
    text-align: center;
    background: url("../images/action_bg.png") 0 0 no-repeat;
    transform: translateX(-50%);

    span {
      font-family: $notoSansBold;
      font-size: 12px;
      line-height: 36px;
      color: #b59c00;
    }
  }

  &__borderTop {
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 8px;
    background-color: #e2e8ec;

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 0;
      border-style: solid;
      border-width: 0 8px 8px 0;
      border-color: transparent #e2e8ec transparent transparent;
      width: 0;
      height: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: -8px;
      top: 0;
      border-style: solid;
      border-width: 8px 8px 0 0;
      border-color: #e2e8ec transparent transparent transparent;
      width: 0;
      height: 0;
    }
  }

  &__borderBottom {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background-color: #e2e8ec;

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 0;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-color: transparent transparent #e2e8ec transparent;
      width: 0;
      height: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: -8px;
      top: 0;
      border-style: solid;
      border-width: 8px 0 0 8px;
      border-color: transparent transparent transparent #e2e8ec;
      width: 0;
      height: 0;
    }
  }

  &__img {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 18px;
    border: none;
    width: 140px;
    height: 140px;
  }

  &__title {
    overflow: hidden;
    margin-bottom: 10px;
    border: none;
    max-height: 40px;
    font-family: $notoSansBold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #212121;
  }

  &__number {
    overflow: hidden;
    margin-bottom: 8px;
    width: 100%;
    max-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #c3ceda;
  }

  &__footer {
    position: relative;
    width: 100%;
    font-size: 0;

    .button {
      position: absolute;
      right: -8px;
      top: 13px;
      width: 100px;

      &::after {
        left: 0;
        right: auto;
        top: 0;
        bottom: auto;
        border-style: solid;
        border-width: 16px 16px 0 0;
        border-color: #c62431 transparent transparent transparent;
        transition: border-width 0.4s;
      }
    }
  }

  &__params {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 8px;
    width: 144px;
  }

  &__param {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &Size {
      overflow: hidden;
      margin-right: 10px;
      max-width: 45px;
      max-height: 15px;
      font-size: 12px;
      white-space: nowrap;
      color: #212121;
    }

    &Ic {
      margin-right: 10px;
      border-radius: 50%;
      width: 16px;
      height: 16px;

      &--gold {
        background-image: linear-gradient(45deg, #f2d512 0%, #f6e584 100%);
      }

      &--silver {
        background-image: linear-gradient(45deg, #c8c9ca 0%, #f7f7f7 100%);
      }

      &--bronze {
        background-image: linear-gradient(45deg, #dfa77e 0%, #ffd6b2 100%);
      }
    }

    &Price {
      overflow: hidden;
      margin-right: 10px;
      max-width: 60px;
      max-height: 15px;
      font-family: $notoSansBold;
      font-size: 14px;
      white-space: nowrap;
      color: #212121;

      .rub {
        width: 10px;
        height: 10px;
        fill: #212121;
      }
    }
  }

  &--stock {
    border: 8px solid #f6e47b;

    .productItem__borderTop {
      background-color: #efce00;

      &::before {
        border-color: transparent #efcf00 transparent transparent;
      }

      &::after {
        border-color: #efcf00 transparent transparent transparent;
      }
    }

    .productItem__borderBottom {
      background-color: #efce00;

      &::before {
        border-color: transparent transparent #efce00 transparent;
      }

      &::after {
        border-color: transparent transparent transparent #efce00;
      }
    }

    .productItem__paramPrice {
      color: $mainColor;

      .rub {
        fill: $mainColor;
      }
    }
  }
}

@media (min-width: 768px) {
  .productItem {
    max-width: 280px;

    &__footer {
      .button {
        width: 110px;
      }
    }

    &__img {
      margin-bottom: 23px;
    }

    &__params {
      padding-left: 20px;
      width: 165px;
    }
  }
}

@media (min-width: 1280px) {
  .productItem {
    &__title {
      margin-bottom: 6px;
    }

    &__footer {
      .button {

        &:hover {
          &::after {
            border-width: 160px 160px 0 0;
            transition: border-width 0.4s;
          }
        }
      }
    }
  }
}
