@import "variables";
@import "functions";
@import "mixins";

.severalSlider {
  padding-top: 20px;
  padding-bottom: 30px;
  max-height: 415px;
  width: 100%;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s all;

  &.visible {
    opacity: 1;
    transform: scale(1);
  }

  .productItem {
    display: flex !important;
    margin: 0 auto;
  }

  .slick-arrow {
    width: 20px;
    height: 40px;
    background: transparent;

    &::after {
      display: none;
    }

    svg {
      width: 17px;
      height: 17px;
      fill: $mainColor;
    }

    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }
  }

  .slick-next {
    right: -5px;
  }

  .slick-prev {
    left: -5px;
  }
}

@media (min-width: 768px) {
  .severalSlider {
    max-height: 405px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
  }
}

@media (min-width: 1280px) {
  .severalSlider {
    padding-bottom: 50px;
    max-height: 386px;

    .slick-prev {
      left: -37px;
    }

    .slick-arrow {
      top: 47%;
    }

    .slick-next {
      right: -37px;
    }
  }
}
