// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";

@import "base";
@import "common";
@import "header";
@import "footer";

svg:not(:root) {
  overflow: hidden;
}

* {
  outline: none;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  background-color: #f6fafd;

  &.hidden-overflow {
    overflow: hidden;
  }
}

html {
  margin: 0;
  padding: 0;
  height: auto;
  min-width: 320px;
  min-height: 100%;
  font-family: $notoSans, "Arial", "Tahoma", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  color: #757575;

  &.is-os-windows {
    body.hidden-overflow {
      margin-right: 17px;
    }
  }
}

ins {
  text-decoration: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

p {
  margin: 0;
  font-family: $notoSans, "Arial", "Tahoma", "Verdana", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $notoSansBold, Arial, Helvetica, sans-serif;
  letter-spacing: -0.01em;
  text-transform: none;
  color: #212121;
}

h1 {
  margin-top: 3px;
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 40px;
}

h2 {
  margin-top: 29px;
  margin-bottom: 14px;
  font-size: 28px;
  line-height: 35px;
  text-transform: none;
}

h3 {
  margin-top: 35px;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 32px;
  text-transform: none;
}

h4 {
  margin-top: 32px;
  margin-bottom: 14px;
  font-size: 22px;
  line-height: 32px;
  text-transform: none;
}

h5 {
  margin-top: 31px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: normal;
  text-transform: none;
}

h6 {
  margin-top: 13px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-transform: none;
}

b,
strong,
.strong {
  font-family: $notoSansBold;
  color: #212121;
}

a {
  border-bottom: 1px solid transparent;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: $mainColor;
  transition: border-color 0.3s;  

  &:hover {
    border-color: $mainColor;
    transition: border-color 0.3s;
  }
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #a3acb6;

  + p {
    margin-top: 20px;
  }
}

.figureBox {
  width: 100%;
}

figure {
  position: relative;
  float: right;
  margin: 0;
  width: 345px;
  height: 345px;

  .zoomIc {
    position: absolute;
    left: 27px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $mainColor;
    transition: all 0.5s;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border-style: solid;
      border-width: 10px 20px 0 20px;
      border-color: #c62431 transparent transparent transparent;
      width: 0;
      height: 0;
      transition: all 0.5s;
    }
  }

  svg {
    width: 23px;
    height: 23px;
    fill: #ffd3d6;
    transition: all 0.5s;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 100%;

    &:hover {
      .zoomIc {
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($mainColor, 0.6);
        transition: all 0.5s;

        &::after {
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.5s;
        }
      }

      svg {
        width: 65px;
        height: 65px;
        fill: #ffd3d6;
        transition: all 0.5s;
      }
    }
  }

  &.floatRight {
    margin-left: 22px;
  }

  &.floatLeft {
    margin-right: 22px;
  }
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.blockUI.blockMsg::-webkit-scrollbar {
  border-left: 1px solid transition;
  width: 10px;
}

.blockUI.blockMsg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 10px;
  background-color: #d10910;
  transition: all 0.3s;
}

.blockUI.blockMsg::-webkit-scrollbar-thumb:hover {
  background-color: #008b3b;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.clearfix,
.contentContainer,
.container-fluid,
.container,
.row, {
  &::after,
  &::before {
    content: " ";
    display: table;
    clear: both;
    width: 100%;
  }
}

.content {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: auto !important;
  min-width: 320px;
  min-height: 100%;
  background-color: #f6fafd;
}

.breadcrumbs {
  position: relative;
  z-index: 1;
  background-color: #fff;

  .container {
    margin: 0 10px;
    width: auto;
  }

  &__list {
    position: relative;
    z-index: 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 7px;
    padding-left: 18px;
  }

  &__item {
    position: relative;
    padding: 0 10px;
    font-family: $notoSansBold;
    font-weight: 700;
    font-size: 12px;
    line-height: 60px;
    text-decoration: none;

    &::before {
      display: none;
    }

    &:last-of-type {
      padding-right: 0;

      &::after,
      &::before {
        display: none;
      }
    }

    span {
      color: #212121;
    }

    &::after,
    &::before {
      content: " ";
      position: absolute;
      left: 100%;
      top: 50%;
      display: block;
      border: solid transparent;
      width: 0;
      height: 0;
      pointer-events: none;
    }

    &::after {
      margin-top: -3px;
      border-width: 3px;
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #fff;
    }

    &::before {
      margin-top: -5px;
      border-width: 5px;
      border-color: rgba(235, 41, 54, 0);
      border-left-color: #eb2936;
    }
  }

  &__link {
    position: relative;
    border: none;
    font-family: $notoSansBold;
    font-weight: 700;
    font-size: 12px;
    line-height: 60px;
    text-decoration: none;
    color: #b59c00;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #b59c00;
      transition: width 0.3s;
    }
  }
}

/* UL OL START */

.content-container ol,
.content-container ul {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 0;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 21px;
    color: #a9b2bb;

    ul,
    ol {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;

      li {
        margin-bottom: 3px;
        padding-left: 15px;

        ul,
        ol {
          margin-top: 10px;
          margin-bottom: 10px;

          li {
            margin-bottom: 5px;
            padding-left: 20px;
          }

          li:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      li:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}

.content-container ol {
  counter-reset: point;

  li {
    padding-left: 15px;

    ol {
      counter-reset: points;

      &>li:before {
        counter-increment: points 1;
        content: counter(point) "." counter(points);
        position: absolute;
        left: 0;
        padding: 0;
        padding-right: 1px;
        font-family: $notoSans;
        text-align: right;
        color: #212121;
      }

      li {
        padding-left: 25px;

        ol {
          counter-reset: levelthree;

          li {
            padding-left: 35px;
          }

          & > li::before {
            counter-increment: levelthree 1;
            content: counter(point) "." counter(points) "." counter(levelthree);
            position: absolute;
            left: -2px;
            padding: 0;
            padding-right: 1px;
            font-family: $notoSans;
            text-align: right;
            color: #212121;
          }
        }
      }
    }
  }

  &>li:before {
    counter-increment: point 1;
    content: counter(point)".";
    position: absolute;
    left: -1px;
    padding: 0;
    padding-right: 1px;
    font-family: $notoSansBold;
    text-align: right;
    color: #212121;
  }
}

.content-container ul {
  li {
    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: 9px;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: $mainColor;
    }

    ul {

      li {

        &::before {
          left: 1px;
          background-color: #f3d617;
        }

        ul {
          li {
            &::before {
              left: 6px;
              top: 10px;
              width: 4px;
              height: 4px;
              background-color: $mainColor;
            }
            ol {
              li {
                padding-left: 15px;
            
                ol {
                  counter-reset: points;
            
                  &>li:before {
                    counter-increment: points 1;
                    content: counter(point) "." counter(points);
                    position: absolute;
                    left: 0;
                    padding: 0;
                    padding-right: 1px;
                    font-family: $notoSans;
                    text-align: right;
                    color: #212121;
                  }
            
                  li {
                    padding-left: 25px;
            
                    ol {
                      counter-reset: levelthree;
            
                      li {
                        padding-left: 35px;
                      }
            
                      & > li::before {
                        counter-increment: levelthree 1;
                        content: counter(point) "." counter(points) "." counter(levelthree);
                        position: absolute;
                        left: -2px;
                        padding: 0;
                        padding-right: 1px;
                        font-family: $notoSans;
                        text-align: right;
                        color: #212121;
                      }
                    }
                  }
                }
              }
            
              &>li:before {
                counter-increment: point 1;
                content: counter(point)".";
                position: absolute;
                top: 0;
                left: -1px;
                padding: 0;
                padding-right: 1px;
                font-family: $notoSansBold;
                width: auto;
                height: auto;
                border-radius: 0;
                background-color: transparent;
                text-align: right;
                color: #212121;
              }
            }
          }
        }
      }
    }

    ol {
      li {
        padding-left: 15px;
    
        ol {
          counter-reset: points;
    
          &>li:before {
            counter-increment: points 1;
            content: counter(point) "." counter(points);
            position: absolute;
            left: 0;
            padding: 0;
            padding-right: 1px;
            font-family: $notoSans;
            text-align: right;
            color: #212121;
          }
    
          li {
            padding-left: 25px;
    
            ol {
              counter-reset: levelthree;
    
              li {
                padding-left: 35px;
              }
    
              & > li::before {
                counter-increment: levelthree 1;
                content: counter(point) "." counter(points) "." counter(levelthree);
                position: absolute;
                left: -2px;
                padding: 0;
                padding-right: 1px;
                font-family: $notoSans;
                text-align: right;
                color: #212121;
              }
            }
          }
        }
      }
    
      &>li:before {
        counter-increment: point 1;
        content: counter(point)".";
        position: absolute;
        top: 0;
        left: -1px;
        padding: 0;
        padding-right: 1px;
        font-family: $notoSansBold;
        width: auto;
        height: auto;
        border-radius: 0;
        background-color: transparent;
        text-align: right;
        color: #212121;
      }
    }
  }
}

/* UL OL END */

.content-container {
  width: 100%;
  min-height: calc(100vh - 90px - 67px - 451px);
}

.index {
  .content-container {
    width: 100%;
    min-height: calc(100vh - 90px - 451px);
  }
}

.quote {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;

  svg {
    margin-top: 5px;
    margin-right: 35px;
    width: 63px;
    height: 75px;
    fill: $mainColor;
  }

  p {
    width: 730px;
    font-family: $notoSansBold;
    letter-spacing: normal;
    color: #212121;
  }
}

.lists {
  display: flex;

  .col {
    width: 453px;

    &:first-of-type {
      margin-right: 42px;
      width: 432px;
    }
  }
}

.container {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  background-color: #fff;
}

.touch {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden-block {
  display: none !important;
}

.vertical-img {
  height: auto;
  max-width: 100%;
}

.horizontal-img {
  width: auto;
  max-height: 100%;
}

.content-container .table {
  width: 100%;
  max-width: 746px;

  table {
    width: 100%;
    max-width: 746px;
  }

  .tableDescription {
    padding: 17px 0;
  }
}

.content-container table {
  width: 100%;
  max-width: 746px;

  td {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #e9eff4;
    width: 33.33%;
    height: 40px;

    &:last-of-type {
      border-right: none;
    }
  }

  tr {
    display: flex;
    border: 2px solid #e9eff4;
    border-top: none;
    width: 100%;
    height: 40px;
    font-size: 13px;
    line-height: 1;
    color: #212121;
  }

  thead {
    display: block;
    height: 50px;

    tr {
      border: none;
    }

    th {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2px solid #e9eff4;
      height: 50px;
      width: 33.33%;
      font-family: $notoSansBold;
      font-size: 14px;
      color: #fff;
      background-color: $mainColor;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}

.formField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &:last-of-type {
    margin: 0;
  }

  &__title {
    font-family: $notoSansBold;
    font-size: 14px;
    color: #212121;
    transition: color 0.3s;
  }

  .quantity {
    position: relative;

    input {
      font-family: $notoSans;
      font-size: 14px;
      text-align: center;
      color: #212121;
    }
  }

  .quantity-button {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);

    svg {
      width: 10px;
      height: 12px;
      fill: $mainColor;
    }
  }

  .quantity-up {
    right: 10px;
  }

  .quantity-down {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }

  .checkbox,
  .radio {
    position: relative;
    padding-left: 31px;
    cursor: pointer;

    &__button {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e9eff4;
      width: 19px;
      height: 19px;
      transition: border-color 0.4s;

      svg {
        width: 13px;
        height: 10px;
        fill: #fff;
      }
    }

    &__text {
      display: inline-block;
      margin-top: 0;
      width: 170px;
      font-size: 14px;
      line-height: 18px;
      color: #a3acb6;
      transition: color 0.4s;

      a {
        font-size: 12px;
        line-height: 18px;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      left: -999999px;
      z-index: -1;
      visibility: hidden;

      &:checked + .checkbox__button {
        svg {
          fill: #fff;
          stroke: #eb2936;
          fill-rule: evenodd;
          stroke-width: 2px;
        }
      }

      &:checked + .radio__button {
        svg {
          fill: #fff;
          stroke: #eb2936;
          fill-rule: evenodd;
          stroke-width: 2px;
        }
      }

      &.error + .checkbox__button {
        border-color: $mainColor;
      }

      &.error + .checkbox__button + .checkbox__text {
        color: $mainColor;
      }
    }

    &:active, 
    &:focus,
    &:hover {
      .checkbox__text,
      .radio__text {
        color: #212121;
        transition: color 0.4s;
      }

      .checkbox__button,
      .radio__button {
        border-color: #b8c9d7;
        transition: border-color 0.4s;
      }
    }
  }

  .radio {
    &__button {
      border: 2px solid #e9eff4;
      border-radius: 50%;
      width: 19px;
      height: 19px;

      svg {
        width: 7px;
        height: 7px;
      }
    }
  }

  &.disabled {
    .formField__title {
      color: #d9e2ea;
    }

    input,
    textarea {
      border-color: #e9eff4;
      background-color: #e9eff4;
    }

    .checkbox__button,
    .radio__button {
      background-color: #e9eff4;
      border-color: #e9eff4;
      cursor: default;

      svg {
        display: none;
      }
    }

    .checkbox__text,
    .radio__text {
      color: #d9e2ea;
      cursor: default;
    }

    &:active,
    &:hover,
    &:focus {
      .formField__title {
        color: #d9e2ea;
      }

      input, 
      textarea {
        border-color: #e9eff4;
        background-color: #e9eff4;
      }

      .checkbox__button,
      .radio__button {
        border-color: #e9eff4;
        background-color: #e9eff4;
        cursor: default;

        svg {
          display: none;
        }
      }

      .checkbox__text,
      .radio__text {
        color: #d9e2ea;
        cursor: default;
      }
    }
  }

  input {
    border: 2px solid #e9eff4;
    padding: 9px 15px;
    width: 100%;
    box-shadow: inset 0 0 0 50px #fff !important;
    font-size: 12px;
    line-height: 18px;
    transition: border-color 0.3s;

    &::placeholder {
      color: #d72231;
    }

    &:active,
    &:focus {
      caret-color: $mainColor;

      &::placeholder {
        color: transparent;
      }
    }

    &.error {
      background-image: none;
    }
  }

  textarea {
    border: 2px solid #e9eff4;
    padding: 9px 15px;
    width: 100%;
    font-size: 12px;
    transition: border-color 0.3s;
    resize: none;
  }

  .help-block {
    display: none !important;
  }

  &:hover {
    input,
    textarea {
      border-color: #b8c9d7;
      transition: border-color 0.3s;
    }

    .formField__title {
      color: #c3ceda;
      transition: color 0.3s;
    }

    .SumoSelect {
      .CaptionCont {
        border-color: #b8c9d7;

        label {
          &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            border-style: solid;
            border-width: 0 0 90px 90px;
            border-color: transparent transparent #c62431 transparent;
            width: 0;
            height: 0;
          }

          svg {
            z-index: 1;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

.formFieldRange {
  width: 100%;

  .irs {
    width: 100%;
  }

  .irs-grid-pol {
    display: none;
  }

  .irs-grid-text {
    font-family: $notoSans, sans-serif;
    font-size: 14px;
    color: #212121;
  }

  .irs-line {
    margin: 0 auto;
    border: none;
    border-radius: 0;
    width: 90%;
    height: 10px;
    background: #e9eff4;
  }

  .irs-bar {
    border: none;
    background-image: linear-gradient(3deg, #f2d512 0%, #f6e584 100%);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-style: solid;
      border-width: 5px 8px 5px 0;
      border-color: transparent #efcf00 transparent transparent;
      width: 0;
      height: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-style: solid;
      border-width: 5px 0 5px 8px;
      border-color: transparent transparent transparent #efcf00;
      width: 0;
      height: 0;
    }
  }

  .irs-slider.from,
  .irs-slider.to {
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    box-shadow: none;
    background: $mainColor;

    &::before {
      content: "От";
      display: inline-block;
      font-family: $notoSansBold;
      font-size: 12px;
      color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      border-style: solid;
      border-width: 10px 15px 0 15px;
      border-color: #c62431 transparent transparent transparent;
      width: 0;
      height: 0;
    }
  }

  .irs-slider.to {
    &::before {
      content: "До";
    }
  }

  .irs-line-left,
  .irs-line-right {
    display: none;
  }
}

.button {
  display: inline-block;
  font-family: $notoSansBold;
  font-size: 14px;
}

.sendBtn {
  position: relative;
  border: none;
  padding: 18px 40px;
  color: #b59c00;
  background-image: linear-gradient(3deg, #f2d512 0%, #f6e584 100%);
  transition: all 0.4s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 27.5px 0 27.5px 33px;
    border-color: transparent transparent transparent #efcf00;
    width: 0;
    height: 0;
    transition: border-width 0.4s;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 27.5px 33px 27.5px 0;
    border-color: transparent #efcf00 transparent transparent;
    width: 0;
    height: 0;
    transition: border-width 0.4s;
  }

  &:active,
  &:focus {
    background-image: none;
    background-color: #efce00;
  }

  &:hover {
    background-image: linear-gradient(3deg, #f6e584 0%, #f6e584 100%);
    transition: all 0.4s;

    &::before {
      border-width: 27.5px 0 27.5px 15px;
      transition: border-width 0.4s;
    }

    &::after {
      border-width: 27.5px 15px 27.5px 0;
      transition: border-width 0.4s;
    }
  }
}

.navBtn {
  position: relative;
  border: none;
  padding-top: 12px;
  padding-right: 100px;
  padding-bottom: 12px;
  padding-left: 64px;
  width: 100%;
  min-height: 48px;
  max-width: 325px;
  font-family: $notoSansBold;
  font-size: 14px;
  text-align: left;
  background-color: #e9eff4;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-style: solid;
    border-width: 24px 0 24px 32px;
    border-color: transparent transparent transparent #dce4eb;
    width: 0;
    height: 0;
    transition: border-color 1.5s;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    background-color: $mainColor;
    transition: width 0.4s;
  }

  span {
    position: relative;
    z-index: 2;
    color: #212121;
    transition: color 0.3s;
  }

  &__icons {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    background-color: $mainColor;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-style: solid;
      border-width: 0 16px 16px 0;
      border-color: transparent #c62431 transparent transparent;
      width: 0;
      height: 0;
    }

    .iconCategory {
      display: inline-block;
      margin-right: 15px;
      width: 22px;
      height: 23px;
      fill: #ffd3d6;
    }

    .iconRightArrow {
      width: 9px;
      height: 14px;
      fill: #fff;
    }
  }

  &:hover {
    &::before {
      border-color: transparent transparent transparent #ffd3d6;
      transition: border-color 1.5s;
    }

    &::after {
      width: 100%;
      transition: width 0.4s;
    }

    span {
      color: #fff;
      transition: color 0.3s;
    }
  }
}

.moreBtn {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 16px 10px;
  width: 100%;
  max-width: 206px;
  font-family: $notoSansBold;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: $mainColor;
  transition: background-color 0.4s;

  span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent #c62431 transparent;
    width: 0;
    height: 0;
    transition: border-color 0.4s, border-width 0.4s;
  }

  &:active,
  &:focus {
    background-color: #c62431;
    transition: background-color 0.4s;

    &::after {
      border-color: transparent transparent $mainColor transparent;
      transition: border-color 0.4s;
    }
  }

  &:hover {
    background-color: #c62431;
    transition: background-color 0.4s;
  }
}

.slick-arrow,
.pagination__link--preview, 
.pagination__link--next {
  position: absolute;
  top: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(45deg, #f2d512 0%, #f6e584 100%);
  transform: translateY(-50%);
  transition: all 0.4s;

  &::before {
    display: none;
  }

  svg {
    width: 15px;
    height: 15px;
    fill: #b59c00;
  }

  &:hover,
  &:active,
  &:focus {
    background-image: linear-gradient(3deg, #f6e584 0%, #f6e584 100%);
    transition: all 0.4s;

    &.slick-prev::after {
      right: 1px;
      border-width: 20px 0 20px 0;
      transition: border-width 0.4s, right 0.4s;
    }

    &.slick-next::after {
      left: 1px;
      border-width: 20px 0 20px 0;
      transition: border-width 0.4s, left 0.4s;
    }
  }
}

.pagination__link--preview,
.slick-prev {
  &::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #efcf00;
    width: 0;
    height: 0;
    transition: border-width 0.4s, right 0.4s;
  }

  svg {
    transform: rotate(180deg);
  }
}

.pagination__link--next,
.slick-next {
  &::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    border-style: solid;
    border-width: 20px 10px 20px 0;
    border-color: transparent #efcf00 transparent transparent;
    width: 0;
    height: 0;
    transition: border-width 0.4s, left 0.4s;
  }
}

.pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__item {
    padding: 0 !important;

    &::before {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    border: none;
    padding: 0 3px;
    font-family: $notoSansBold;
    font-size: 16px;
    line-height: 60px;
    color: #212121;

    &--center {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 3px;
      border: 2px solid #e9eff4;
      width: 45px;
      height: 40px;
      font-family: $notoSans;

      &:hover {
        border: 2px solid darken(#e9eff4, 20%);
      }
    }

    &--preview {
      margin-right: 35px;

      &:hover {
        &::after {
          right: 0;
        }
      }
    }

    &--next {
      margin-left: 35px;

      &:hover {
        &::after {
          left: 0;
        }
      }
    }

    &--preview,
    &--next {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      display: flex;
      transform: none;

      &:hover {
        &::after {
          border-width: 20px 0 20px 0;
        }
      }
    }
  }
}

/* summoselect start */
.SumoSelect {
  cursor: pointer;

  .CaptionCont {
    border: 2px solid #e9eff4;
    border-radius: 0;
    padding-right: 55px;
    padding-left: 17px;
    min-height: 40px;

    label {
      right: -2px;
      top: -2px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 45px;
      height: 40px;
      background-color: $mainColor;
      cursor: pointer;
      transition: all 0.4s;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 0 0 13px 13px;
        border-color: transparent transparent #c62431 transparent;
        width: 0;
        height: 0;
        transition: all 0.4s;
      }

      svg {
        width: 15px;
        height: 11px;
        fill: #fff;
        transition: all 0.4s;
      }
    }

    > span {
      cursor: pointer;
    }

    &.clicked {
      border-color: #b8c9d7;
      transition: all 0.4s;

      label {
        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          border-style: solid;
          border-width: 0 0 90px 90px;
          border-color: transparent transparent #c62431 transparent;
          width: 0;
          height: 0;
        }

        svg {
          z-index: 1;
          transform: rotate(180deg);
          transition: all 0.4s;
        }
      }
    }
  }

  .optWrapper {
    top: 40px;

    &.open {
      top: 40px;
      border: 2px solid #b8c9d7;
      border-top: none;
      max-height: 140px;
    }

    &.multiple .options > li {
      padding-left: 30px;

      .checkbox {
        position: absolute;
        left: 0;
        top: 3px;
        z-index: -1;
      }

      span {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        width: 15px;
        height: 15px;
      }

      svg {
        width: 15px;
        height: 15px;
      }

      &.selected {
        .checkbox__button {
          svg {
            stroke: $mainColor;
          }
        }
      }
    }
  }

  .select-all {
    display: none;
  }

  .options {
    margin: 0;
    padding: 17px;

    li {
      padding-left: 0;
      cursor: pointer;

      &::before {
        display: none;
      }

      label {
        font-size: 13px;
        color: #a3acb6;
        cursor: pointer;
        transition: color 0.4s;
      }

      .checkbox__button {
        transition: border-color 0.4s;
      }

      &:hover {
        .checkbox__button {
          border-color: #b8c9d7;
          transition: border-color 0.4s;
        }

        label {
          color: #212121;
          transition: color 0.4s;
        }
      }
    }
  }

  .jspVerticalBar {
    position: absolute;
    right: 17px;
    top: 0;
    width: 10px;
    height: 105px;
    background-color: transparent;
  }

  .jspTrack {
    width: 10px;
    height: 105px !important;
    background-color: #e9eff4;
  }

  .jspDrag {
    position: relative;
    background-image: linear-gradient(3deg, #f2d512 0%, #f6e584 100%);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: #efcf00 transparent transparent transparent;
      width: 0;
      height: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-style: solid;
      border-width: 0 5px 6px 5px;
      border-color: transparent transparent #efcf00 transparent;
      width: 0;
      height: 0;
    }
  }

  .jspCap {
    display: block;
    width: 10px;
    height: 16px;
    background-color: transparent;
  }

  &:hover > .CaptionCont,
  &:focus > .CaptionCont {
    border-color: #b8c9d7;
    transition: all 0.4s;
  }
}

/* summoselect  end */

.rub {
  width: 12px;
  height: 14px;
  transform: translateX(-2px);
}

.scrollLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  width: 70px;
  height: 35px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    border-style: solid;
    border-width: 0 35px 35px 35px;
    border-color: transparent transparent #c62431 transparent;
    width: 0;
    height: 0;
    transform: translateX(-50%);
  }

  svg {
    z-index: 2;
    width: 6px;
    height: 12px;
    fill: #fff;
    stroke: #fff;
    transform: rotate(-90deg);
  }
}
.quantity {
  position: relative;

  input {
    font-family: $notoSans;
    font-size: 14px;
    text-align: center;
    color: #212121;
  }
}

.quantity-button {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);

  svg {
    width: 5px;
    height: 10px;
    fill: $mainColor;
  }
}

.quantity-up {
  right: 5px;
}

.quantity-down {
  left: 5px;
  transform: translateY(-50%) rotate(180deg);
}

.tabBlock {
  position: relative;
  overflow: hidden;
}

.tabBlock__tabs {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 0;
  white-space: nowrap;
}

.tabBlock__tab {
  position: relative;
  display: inline-block;
  margin-left: 38px;
  border: none;
  padding: 17px 25px;
  font-family: $notoSansBold;
  font-size: 14px;
  text-align: center;
  color: #212121;
  background-color: #e9eff4;

  &.-active {
    z-index: 2;
    color: #b59c00;
    background-image: linear-gradient(3deg, #f2d512, #f6e584);

    &::before,
    &::after {
      background-color: #efce00;
    }
  }

  &:first-of-type {
    margin-left: 29px;
  }

  &:last-of-type {
    &.-active {
      position: absolute;
      right: 27px;

      .tabBlock__tabBottomBg {
        position: absolute;
        left: -1000%;
        bottom: 0;
        width: 1000%;
        height: 8px;
        background-color: #efce00;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 0;
    z-index: 1;
    width: 32px;
    height: 100%;
    background-color: #dce4eb;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  &::after {
    content: "";
    position: absolute;
    right: -31px;
    top: 0;
    z-index: 1;
    width: 32px;
    height: 100%;
    background-color: #dce4eb;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
}

.tabBlock__tabBottomBg {
  position: absolute;
  right: -500%;
  bottom: 0;
  width: 500%;
  height: 8px;
  background-color: #efce00;
}


.tabBlock__content {
  padding-top: 25px;

  p {
    width: 100%;
  }

  &.js-tab__description {
    flex-wrap: wrap;
  }
}

.oneItem__paramsColors {
  line-height: 14px;
}

// === media queries ===

@media (min-width: 410px) {
  .tabBlock__tab:last-of-type.-active {
    position: relative;
    right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
    // box-shadow: 0 0 20px rgba(208, 215, 223, 0.25);
  }

  .content-container {
    min-height: calc(100vh - 147px - 67px - 270px);
  }

  .index {
    .content-container {
      min-height: calc(100vh - 147px - 270px);
    }

    .scrollLink {
      margin-top: 65px;
    }
  }

  .breadcrumbs {
    position: relative;
    z-index: 3;
    margin: 0 10px;
    padding-right: 40px;
    padding-left: 40px;
    background: #fff;

    &__item {
      padding: 0 11px;

      &:first-of-type {
        padding-left: 0;
      }
    }

    &__list {
      padding-left: 0;
    }
  }

  .tabBlock__content {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .breadcrumbs {
    margin: 0 auto;
    width: 980px;

    .container {
      padding-right: 120px;
      padding-left: 120px;
    }
  }
}

@media (min-width: 1280px) {
  h1 {
    text-transform: uppercase;
  }

  .content-container {
    min-height: calc(100vh - 188px - 67px - 210px);
    background: url("../images/bg.png") center 65px no-repeat;
  }

  .index {
    .content-container {
      min-height: calc(100vh - 188px - 210px);
    }
  }

  .container {
    padding-right: 118px;
    padding-left: 118px;
  }

  .breadcrumbs__link {
    &:focus,
    &:hover {
      &::after {
        width: 100%;
        transition: width 0.3s;
      }
    }
  }

  .scrollLink {
    svg {
      transition: transform 0.3s;
    }

    &:hover {
      svg {
        transform: translateY(-2px) rotate(-90deg) scale(1.1);
        transition: transform 0.3s;
      }
    }
  }

  .is-browser-firefox {
    .mainHeader__contactsPopupBtn {
      &::after {
        bottom: -10px;
        border-width: 10px 20px 0 20px;
        opacity: 1;
        transition: opacity 0.4s;
      }

      &:hover,
      &:focus {
        &::after {
          bottom: -10px;
          border-width: 10px 20px 0 20px;
          opacity: 0;
          transition: opacity 0.4s;
        }
      }
    }

    .mainHeader__contactsSearchBtn {
      &::after {
        bottom: -10px;
        border-width: 10px 20px 0 20px;
        opacity: 1;
        transition: opacity 0.4s;
      }

      &:focus,
      &:hover {
        &::after {
          bottom: -10px;
          border-width: 10px 20px 0 20px;
          opacity: 0;
          transition: opacity 0.4s;
        }
      }
    }

    .pagination__link,
    .slick-arrow {
      &.slick-prev::after,
      &.slick-next::after,
      &--preview::after,
      &--next::after {
        opacity: 1;
        transition: opacity 0.4s;
      }

      &:hover,
      &:active,
      &:focus {
        &.pagination__link--preview::after {
          right: -10px;
          border-width: 20px 0 20px 10px;
          opacity: 0;
          transition: opacity 0.4s;
        }

        &.pagination__link--next::after {
          left: -10px;
          border-width: 20px 10px 20px 0;
          opacity: 0;
          transition: opacity 0.4s;
        }

        &.slick-prev::after {
          right: -10px;
          border-width: 20px 0 20px 10px;
          opacity: 0;
          transition: opacity 0.4s;
        }

        &.slick-next::after {
          left: -10px;
          border-width: 20px 10px 20px 0;
          opacity: 0;
          transition: opacity 0.4s;
        }
      }
    }
  }
}

// === /media queries ===
