@import "variables";
@import "functions";
@import "mixins";
@import "libs/sumoselect";
@import "../../node_modules/normalize-css/normalize";
@import "libs/slick-theme";
@import "libs/slick";
@import "../../node_modules/fancybox/dist/css/jquery.fancybox";
@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider";
@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider.skinHTML5";
@import "../../node_modules/jquery-form-validator/src/theme-default";
@import "../../node_modules/jscrollpane/style/jquery.jscrollpane";

.fancybox-opened .fancybox-title {
  display: none;
}

.fancybox-close {
  top: -25px;
  right: -15px;
  border: none !important;
  text-decoration: none;
  background: none;

  svg {
    width: 20px;
    height: 20px;
    fill: $mainColor;
  }
}
.fancybox-nav {
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}

.fancybox-prev,
.fancybox-next {
  right: -25px;
  width: 20px;
  height: 20px;

  svg {
    width: 10px;
    height: 20px;
    fill: $mainColor;
  }
}

.fancybox-prev {
  right: auto;
  left: -25px;
  display: flex;
  justify-content: flex-end;
  svg {
    transform: rotate(180deg);
  }
}

.onLoadingDiv {
  background-color: transparent !important;
}
